// Begin about-videos

.about-videos.page-block#aboutVideos.nav-view-checker
    .about-videos__bg-img
        img(src='static/img/backgrounds/comp-1.jpg' alt='')

        .about-videos__bg-img-video
            video(autoplay="autoplay" loop="loop" preload="auto")
                source(src="static/img/videos/comp-1.mp4")

    .about-videos__title
        .container
            .flex.flex--jcfe
                .block-title
                    h2
                        span Просмотрите видео
                        |  о компании

    .about-videos__slider
        .about-videos__slider-item
            .container
                .about-videos__slider-item__wrap.flex.flex--aic
                    .about-videos__slider-item__left-side
                        .about-videos__slider-item__video
                            //- iframe(src="https://www.youtube.com/embed/2kxkdWwtti4" frameborder="0" allowfullscreen)
                            .youtube(id='2kxkdWwtti4' data-params='modestbranding=1&showinfo=0&controls=1')

                        .about-videos__slider-item__video-desc
                            p
                                |Теория: Звукоизоляция дверей межкомнатных
                                br
                                | | Шумоизоляция межкомнатных дверей | Ремонт квартир Москва

                    .about-videos__slider-item__right-side
                        .about-videos__slider-item__user
                            .about-videos__slider-item__user-img
                                img(src='static/img/content/about-videos-user-img.jpg' alt='')

                            .about-videos__slider-item__user-cont
                                .about-videos__slider-item__user-text С нами Вы забудете про "переделки"!
                                .about-videos__slider-item__user-name Забелин Александр
                                .about-videos__slider-item__user-post Руководитель компании

        .about-videos__slider-item
            .container
                .about-videos__slider-item__wrap.flex.flex--aic
                    .about-videos__slider-item__left-side
                        .about-videos__slider-item__video
                            //- iframe(src="https://www.youtube.com/embed/BOOLbXXbw-M" frameborder="0" allowfullscreen)
                            .youtube(id='BOOLbXXbw-M' data-params='modestbranding=1&showinfo=0&controls=1')

                        .about-videos__slider-item__video-desc
                            p
                                | Теория: Звукоизоляция дверей межкомнатных
                                br
                                | | Шумоизоляция межкомнатных дверей | Ремонт квартир Москва

                    .about-videos__slider-item__right-side
                        .about-videos__slider-item__user
                            .about-videos__slider-item__user-img
                                img(src='static/img/content/about-videos-user-img.jpg' alt='')

                            .about-videos__slider-item__user-cont
                                .about-videos__slider-item__user-text С нами Вы забудете про "переделки"!
                                .about-videos__slider-item__user-name Забелин Александр
                                .about-videos__slider-item__user-post Руководитель компании

        .about-videos__slider-item._prev-slide
            .container
                .about-videos__slider-item__wrap.flex.flex--aic
                    .about-videos__slider-item__left-side
                        .about-videos__slider-item__video
                            //- iframe(src="https://www.youtube.com/embed/Qg0JMYq9NLQ" frameborder="0" allowfullscreen)
                            .youtube(id='Qg0JMYq9NLQ' data-params='modestbranding=1&showinfo=0&controls=1')

                        .about-videos__slider-item__video-desc
                            p
                                | Теория: Звукоизоляция дверей межкомнатных
                                br
                                | | Шумоизоляция межкомнатных дверей | Ремонт квартир Москва

                    .about-videos__slider-item__right-side
                        .about-videos__slider-item__user
                            .about-videos__slider-item__user-img
                                img(src='static/img/content/about-videos-user-img.jpg' alt='')

                            .about-videos__slider-item__user-cont
                                .about-videos__slider-item__user-text С нами Вы забудете про "переделки"!
                                .about-videos__slider-item__user-name Забелин Александр
                                .about-videos__slider-item__user-post Руководитель компании

    .about-videos__count-slides
        .container
            .about-videos__count-slides__wrap
                .about-videos__count-slides__current 1
                .about-videos__count-slides__all
                    | /
                    span

// End about-videos