// Begin about-videos

.about-videos.page-block
    .container
        .about-videos__slider
            .about-videos__slider-item
                .about-videos__slider-item__left-side
                    .about-videos__slider-item__video
                        iframe(src="https://www.youtube.com/embed/2kxkdWwtti4" frameborder="0" allowfullscreen)

                    .about-videos__slider-item__video-desc
                        p
                            |Теория: Звукоизоляция дверей межкомнатных
                            br
                            | | Шумоизоляция межкомнатных дверей | Ремонт квартир Москва

                .about-videos__slider-item__right-side

// End about-videos