// Begin about

.about.page-block
    .container
        .about__wrap.flex.flex--jcsb
            .about__column
                .block-title
                    h2
                        | Компания
                        br
                        span  ТС-СТРОЙ

                p
                    | Наш клиент получает
                    span.orange-text  полный спектр услуг
                    | , от разработки технической документации до финишной отделки, из одних рук, что экономит силы, время и деньги. К тому же он имеет дело только с одним исполнителем, отвечающим за результат вплоть до передачи ключей заказчику.

                p
                    | Залог успеха компании «ТС-Строй» – ее
                    span.orange-text  многолетний опыт, высокая квалификация мастеров и более 800 сданных объектов.

                p Все работы выполняются по договору. Гарантия составляет 3 года.

                .about__btn-wrap
                    button.default-btn.default-btn--orange
                        .default-btn__icon.default-btn__icon--left
                            i(class="fa fa-phone" aria-hidden="true")
                        .default-btn__text Заказать обратный звонок
                        .default-btn__icon.default-btn__icon--right
                            i(class="fa fa-phone" aria-hidden="true")

            .about__column
                .about__item
                    .about__item__numbers
                        .about__item__bg(style='background: url("static/img/content/about-item-bg1.jpg") no-repeat ')

                        .about__item__numbers-wrap
                            .about__item__numbers-left 06
                            .about__item__numbers-big 07
                            .about__item__numbers-right 08

                    .about__item__text
                        | лет успешной работы

                .about__item
                    .about__item__numbers
                        .about__item__bg(style='background: url("static/img/content/about-item-bg2.jpg") no-repeat ')

                        .about__item__numbers-wrap
                            .about__item__numbers-left 69
                            .about__item__numbers-big 70
                            .about__item__numbers-right 71

                    .about__item__text
                        | Специалистов в штате

                .about__item
                    .about__item__numbers
                        .about__item__bg(style='background: url("static/img/content/about-item-bg3.jpg") no-repeat ')

                        .about__item__numbers-wrap
                            .about__item__numbers-left 799
                            .about__item__numbers-big 800
                            .about__item__numbers-right 801

                    .about__item__text
                        | объектов сдано

// End about