// Begin ask

.ask
	.ask__rings
		.ask__rings__item.ask__rings__item--one
		.ask__rings__item.ask__rings__item--two
		.ask__rings__item.ask__rings__item--three
		.ask__rings__item.ask__rings__item--four
		.ask__rings__item.ask__rings__item--five

	.container
		.ask__wrap
			.ask__left-side
				.ask__title У ВАС ВОЗНИКЛИ ВОПРОСЫ?
				.ask__text Задайте их нашему специалисту прямо сейчас

			.ask__right-side
				button.default-btn.default-btn--white
					.default-btn__icon.default-btn__icon--left
						i(class="fa fa-question-circle" aria-hidden="true")
					.default-btn__text Задайте вопрос
					.default-btn__icon.default-btn__icon--right
						i(class="fa fa-question-circle" aria-hidden="true")

// End ask