// Begin breadcrumbs

.breadcrumbs
    .container
        .breadcrumbs__wrap
            .breadcrumbs__item.breadcrumbs__item--home
                a(href='index.html')
                    i(class="fa fa-home" aria-hidden="true")

            .breadcrumbs__item #{breadcrumbsActive}

// End breadcrumbs