header.main-header
    .flex.flex--jcsb
        .main-header__left-side.flex.flex--aifs
            .logo
                .logo__top
                    img(src='static/img/logo.svg' alt='')

                .logo__fixed
                    img(src='static/img/logo-mini.svg' alt='')

            .separate

            .phone-icon
                i(class="fa fa-phone" aria-hidden="true")

            .separate

            .search
                i(class="fa fa-search" aria-hidden="true")

        .phone
            .phone-number +7 (495) 127 06 65
            .mail
                a(href='mailto:remont@tn-ss.ru') remont@tn-ss.ru

        .main-header__right-side
            .menu
                .menu__btn
                    span
                    span
                    span
                    .menu__cross.menu__cross--left
                    .menu__cross.menu__cross--right

                .menu__content.flex.flex--fdc.flex--jcsb
                    nav.menu__nav.nav
                        .nav__item
                            a(href='#') О нас
                        .nav__item
                            a(href='#') Портфолио
                        .nav__item
                            a(href='#') База знаний
                        .nav__item
                            a(href='#') Контакты

                    .menu__contacts
                        button.callback-btn.w-100 Обратный звонок

                        .menu__contacts__item.flex
                            .menu__contacts__icon
                                i(class="fa fa-envelope" aria-hidden="true")

                            .menu__contacts__wrap
                                div
                                    a(href="mailto:remont@tn-ss.ru") remont@tn-ss.ru
                                div +7 (495) 127 06 65

                        .menu__contacts__item.flex
                            .menu__contacts__icon
                                i(class="fa fa-map-marker" aria-hidden="true")

                            .menu__contacts__wrap
                                div Москва
                                div ул. Большая очаковская 47 А строение

                    .menu__bottom
                        .menu__bottom__item
                            p Данный сайт носит справочный характер и не является публичной офертой.

                        .menu__bottom__item
                            p Политика в отношении обработки персональных данных

                        .menu__copyright
                            p
                                | © 2018 ООО “ТС-Строй”.
                                br
                                | Все права защищены.

                        .menu__social-links.flex
                            .menu__social-links__item
                                a(href='#' target='_blank')
                                    i(class="fa fa-facebook" aria-hidden="true")

                            .menu__social-links__item
                                a(href='#' target='_blank')
                                    i(class="fa fa-instagram" aria-hidden="true")

                            .menu__social-links__item
                                a(href='#' target='_blank')
                                    i(class="fa fa-youtube-play" aria-hidden="true")

    .main-header__search
        .container
            form
                .main-header__search__wrap
                    .main-header__search__left-side
                        .main-header__search__icon
                            i(class="fa fa-search" aria-hidden="true")

                        input.main-header__search__input(placeholder='Введите поисковое слово ...')

                        .main-header__search__btn
                            +icon('btn-arrow')

                    .main-header__search__right-side
                        .main-header__search__close
                            span
                            span
                            span
                            .main-header__search__cross.main-header__search__cross--left
                            .main-header__search__cross.main-header__search__cross--right

    .main-header__overlay