// Begin how-we-work

.how-we-work.page-block#howWeWork.nav-view-checker
    .wave-bg
        .wave-bg__inner

    .container
        .how-we-work__title.block-title
            h2
                | Как
                span
                    |  мы
                    br
                    | работаем

        .how-we-work__wrap
            .how-we-work__item
                .how-we-work__item__hidden-content
                    .how-we-work__item__top.flex.flex--aic
                        .how-we-work__item__number 01

                        .how-we-work__item__title Обследование и замер

                    .how-we-work__item__content-text
                        p Специалист бесплатно выезжает на объект, производит осмотр, замеры, определяет список необходимых работ (в том числе по инженерным коммуникациям, звукоизоляции, черновой и финишной отделке), а также консультирует по техническим и стилистическим решениям, называет примерную стоимость в рамках поставленных задач.

                .how-we-work__item__number 01

                .how-we-work__item__icon
                    img(src='static/img/icons/how-we-work-ico-1.svg' alt='' width='104')

                .how-we-work__item__text
                    | Обследование и замер

            .how-we-work__item
                .how-we-work__item__hidden-content
                    .how-we-work__item__top.flex.flex--aic
                        .how-we-work__item__number 02

                        .how-we-work__item__title Составление необходимой документации

                    .how-we-work__item__content-text
                        p Бесплатное составление сметы на работы и строительно-отделочные материалы. Выполнение технического дизайна, который включает в себя планировку, расположение коммуникаций, мебели и т.д.

                .how-we-work__item__number 02

                .how-we-work__item__icon
                    img(src='static/img/icons/how-we-work-ico-2.svg' alt='' width='71')

                .how-we-work__item__text
                    | Составление необходимой документации

            .how-we-work__item
                .how-we-work__item__hidden-content
                    .how-we-work__item__top.flex.flex--aic
                        .how-we-work__item__number 03

                        .how-we-work__item__title Заключение договора

                    .how-we-work__item__content-text
                        p Заключение официального договора с указанием сроков и гарантийных обязательств. К договору также прилагается ППР (план проведения работ), который информирует заказчика об очередности работ, позволяет организовать своевременную закупку финишных материалов и отслеживать ход ремонта по графику. Клиент получает ясное представление о ремонте на всех его этапах.

                .how-we-work__item__number 03

                .how-we-work__item__icon
                    img(src='static/img/icons/how-we-work-ico-3.svg' alt='' width='101')

                .how-we-work__item__text
                    | Заключение договора

            .how-we-work__item
                .how-we-work__item__hidden-content
                    .how-we-work__item__top.flex.flex--aic
                        .how-we-work__item__number 04

                        .how-we-work__item__title Завоз материала (доставка)

                    .how-we-work__item__content-text
                        p Заказчику не нужно обременять себя заботами по закупке и доставке материалов. Мы знаем, где купить качественные материалы, не переплачивая, а также можем организовать подвоз в точно заданное время. При необходимости мы самостоятельно решим вопрос разгрузки и подъема на этаж, включая специфические требования бизнес-центров и жилых комплексов (например, подъем материалов через паркинг, разгрузка после 20:00 и т.д.).

                .how-we-work__item__number 04

                .how-we-work__item__icon
                    img(src='static/img/icons/how-we-work-ico-4.svg' alt='' width='76')

                .how-we-work__item__text
                    | Завоз материала (доставка)

            .how-we-work__item
                .how-we-work__item__hidden-content
                    .how-we-work__item__top.flex.flex--aic
                        .how-we-work__item__number 05

                        .how-we-work__item__title Выполнение работ

                    .how-we-work__item__content-text
                        p Все работы на объекте выполняют наши постоянные сотрудники – квалифицированные специалисты, которые используют хороший инструмент и качественные материалы. Процесс контролирует опытный бригадир, по скрытым работам предоставляется фотоотчет.
                        p Чтобы узнать о ходе работ или задать вопрос, клиенту необязательно лично заезжать на объект: у нас налажена система чата с мастерами, при необходимости вы можете оперативно получить ответ, обсудить изменения в проекте или запросить фотографии со стройплощадки.

                .how-we-work__item__number 05

                .how-we-work__item__icon
                    img(src='static/img/icons/how-we-work-ico-5.svg' alt='' width='85')

                .how-we-work__item__text
                    | Выполнение работ

            .how-we-work__item
                .how-we-work__item__hidden-content
                    .how-we-work__item__top.flex.flex--aic
                        .how-we-work__item__number 06

                        .how-we-work__item__title Уборка объекта

                    .how-we-work__item__content-text
                        p После завершения строительных и отделочных работ выполняется полная уборка помещений. Мы вынесем крупный строительный мусор, вымоем окна, сантехнику, очистим все поверхности от пыли. Клиент получает полностью готовый к проживанию или иному использованию интерьер!

                .how-we-work__item__number 06

                .how-we-work__item__icon
                    img(src='static/img/icons/how-we-work-ico-6.svg' alt='' width='91')

                .how-we-work__item__text
                    | Уборка объекта

            .how-we-work__item
                .how-we-work__item__hidden-content
                    .how-we-work__item__top.flex.flex--aic
                        .how-we-work__item__number 07

                        .how-we-work__item__title Установка мемебли

                    .how-we-work__item__content-text
                        p При ремонте под ключ наши сотрудники соберут и установят выбранную вами мебель. Мы также можем взять на себя переговоры с поставщиками, чтобы сэкономить время клиенту.

                .how-we-work__item__number 07

                .how-we-work__item__icon
                    img(src='static/img/icons/how-we-work-ico-7.svg' alt='' width='79')

                .how-we-work__item__text
                    | Установка мемебли

            .how-we-work__item
                .how-we-work__item__hidden-content
                    .how-we-work__item__top.flex.flex--aic
                        .how-we-work__item__number 08

                        .how-we-work__item__title Подключение оборудования

                    .how-we-work__item__content-text
                        p Мы выполняем установку и подключение всех электроприборов.

                .how-we-work__item__number 08

                .how-we-work__item__icon
                    img(src='static/img/icons/how-we-work-ico-8.svg' alt='' width='77')

                .how-we-work__item__text
                    | Подключение оборудования

            .how-we-work__item
                .how-we-work__item__hidden-content
                    .how-we-work__item__top.flex.flex--aic
                        .how-we-work__item__number 09

                        .how-we-work__item__title Передача ключей

                    .how-we-work__item__content-text
                        p Вручая клиенту ключи от отремонтированного помещения, мы передаем его в идеальном состоянии, свободном от мусора, чистом и готовом к использованию. Ваш ремонт - это наша забота!

                .how-we-work__item__number 09

                .how-we-work__item__icon
                    img(src='static/img/icons/how-we-work-ico-9.svg' alt='' width='73')

                .how-we-work__item__text
                    | Передача ключей

// End how-we-work