// Begin .main-slider

.main-slider#top.nav-view-checker
    .wave-bg

    .main-slider__item._active
        .main-slider__item__video-bg
            .main-slider__item__bg(style="background: url('static/img/content/main-slider-img-1.jpg') no-repeat center top")
            .main-slider__item__video

        .main-slider__item__content
            .main-slider__item__number
                span 01

            .main-slider__item__number-no-active
                span 01

            .main-slider__item__title(data-color='#f25b41') Ремонт

            .main-slider__item__title-big(data-color='#f25b41') Ремонт

            .main-slider__item__sub-title
                | в Москве и Московской области

            .main-slider__item__text
                p
                    big ТС-Строй — это индивидуа омплексный подход к каждому проекту:
                    br
                    | предпроектная документация, дизайн-проект, разводка инженерных коммуникаций, звукоизоляция, черновые работы и финишная отделка.

            .main-slider__item__btn
                button.default-btn.default-btn--orange
                    .default-btn__icon.default-btn__icon--left
                        +icon('btn-arrow')
                    .default-btn__text Консультация специалиста
                    .default-btn__icon.default-btn__icon--right
                        +icon('btn-arrow')

            .main-slider__item__see
                span Просмотреть
                i(class="fa fa-eye" aria-hidden="true")

    .main-slider__item
        .main-slider__item__video-bg
            .main-slider__item__bg(style="background: url('static/img/content/main-slider-img-2.jpg') no-repeat center top")
            .main-slider__item__video

        .main-slider__item__content
            .main-slider__item__number
                span 02

            .main-slider__item__number-no-active
                span 02

            .main-slider__item__title(data-color='#0fbd5d') Проектирование

            .main-slider__item__title-big(data-color='#0fbd5d') Проектирование

            .main-slider__item__sub-title
                | в Москве и Московской области

            .main-slider__item__text
                p
                    big Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    br
                    | Accusantium corporis deserunt doloribus dolorum maiores nam necessitatibus quas, rem sed tenetur!

            .main-slider__item__btn
                button.default-btn.default-btn--orange
                    .default-btn__icon.default-btn__icon--left
                        +icon('btn-arrow')
                    .default-btn__text Консультация специалиста
                    .default-btn__icon.default-btn__icon--right
                        +icon('btn-arrow')

            .main-slider__item__see
                span Просмотреть
                i(class="fa fa-eye" aria-hidden="true")

    .main-slider__item
        .main-slider__item__video-bg
            .main-slider__item__bg(style="background: url('static/img/content/main-slider-img-3.jpg') no-repeat center top")
            .main-slider__item__video

        .main-slider__item__content
            .main-slider__item__number
                span 03

            .main-slider__item__number-no-active
                span 03

            .main-slider__item__title(data-color='#298ae5') Строительство

            .main-slider__item__title-big(data-color='#298ae5') Строительство

            .main-slider__item__sub-title
                | в Москве и Московской области

            .main-slider__item__text
                p
                    big Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    br
                    | Autem, cumque cupiditate deleniti dolor, doloremque eveniet illum laborum maxime minima odit quia reiciendis soluta tempore vitae voluptates.

            .main-slider__item__btn
                button.default-btn.default-btn--orange
                    .default-btn__icon.default-btn__icon--left
                        +icon('btn-arrow')
                    .default-btn__text Консультация специалиста
                    .default-btn__icon.default-btn__icon--right
                        +icon('btn-arrow')

            .main-slider__item__see
                span Просмотреть
                i(class="fa fa-eye" aria-hidden="true")

// End .main-slider