// Begin nav-page

.nav-page
    .nav-page__wrap
        .nav-page__top

        .nav-page__dots
            a.nav-page__dots__item._active(href='#top')
                span Вверх

            a.nav-page__dots__item(href='#about')
                span О компании

            a.nav-page__dots__item(href='#aboutVideos')
                span Видео о компании

            a.nav-page__dots__item(href='#howWeWork')
                span Как мы работаем

            a.nav-page__dots__item(href='#services')
                span Наши услуги

            a.nav-page__dots__item(href='#actions')
                span Акции

            a.nav-page__dots__item(href='#team')
                span Команда

            a.nav-page__dots__item(href='#partners')
                span Партнеры

        .nav-page__social-links
            .nav-page__social-links__item
                a(href='#' target='_blank')
                    i(class="fa fa-facebook" aria-hidden="true")

            .nav-page__social-links__item
                a(href='#' target='_blank')
                    i(class="fa fa-instagram" aria-hidden="true")

            .nav-page__social-links__item
                a(href='#' target='_blank')
                    i(class="fa fa-youtube-play" aria-hidden="true")

// End nav-page