// Begin partners

.partners.page-block.mb-0
	.partners__bg
		img(src='static/img/backgrounds/partners-bg.jpg' alt='')

	.container
		.partners__wrap
			.partners__left-side
				.partners__slider
					.partners__slider__item
						.partners__item__wrap
							.partners__item
								img(src='static/img/content/partners-img-1.png' alt='')

							.partners__item
								img(src='static/img/content/partners-img-2.png' alt='')

							.partners__item
								img(src='static/img/content/partners-img-3.png' alt='')

							.partners__item
								img(src='static/img/content/partners-img-4.png' alt='')

							.partners__item
								img(src='static/img/content/partners-img-5.png' alt='')

							.partners__item
								img(src='static/img/content/partners-img-6.png' alt='')

							.partners__item
								img(src='static/img/content/partners-img-7.png' alt='')

							.partners__item
								img(src='static/img/content/partners-img-8.png' alt='')

							.partners__item
								img(src='static/img/content/partners-img-9.png' alt='')

							.partners__item
								img(src='static/img/content/partners-img-10.png' alt='')

							.partners__item
								img(src='static/img/content/partners-img-11.png' alt='')

							.partners__item
								img(src='static/img/content/partners-img-12.png' alt='')

					.partners__slider__item
						.partners__item__wrap
							.partners__item
								img(src='static/img/content/partners-img-1.png' alt='')

							.partners__item
								img(src='static/img/content/partners-img-2.png' alt='')

							.partners__item
								img(src='static/img/content/partners-img-3.png' alt='')

							.partners__item
								img(src='static/img/content/partners-img-4.png' alt='')

							.partners__item
								img(src='static/img/content/partners-img-5.png' alt='')

							.partners__item
								img(src='static/img/content/partners-img-6.png' alt='')

							.partners__item
								img(src='static/img/content/partners-img-7.png' alt='')

							.partners__item
								img(src='static/img/content/partners-img-8.png' alt='')

							.partners__item
								img(src='static/img/content/partners-img-9.png' alt='')

							.partners__item
								img(src='static/img/content/partners-img-10.png' alt='')

							.partners__item
								img(src='static/img/content/partners-img-11.png' alt='')

							.partners__item
								img(src='static/img/content/partners-img-12.png' alt='')

			.partners__right-side
				.partners__title.block-title
					h2
						| НАШИ
						span  ПАРТНЕРЫ

				.partners__flex-wrap
					.partners__slider-btns
						.partners__slider-btns__prev
							+icon('arrow-slider-left')

						.partners__slider-btns__next
							+icon('arrow-slider-right')

					.partners__slider-numbers
						.partners__slider-numbers__current
							span 1

						.partners__slider-numbers__all
							| / 2

// End partners