// Begin services

.services
    .container
        .services__title.block-title
            h2
                | Наши
                span  услуги
                |  это:

        .services__item.services__item--imgs-left.services__documents
            .services__item__wrap
                .services__item__left-side.services__documents__img-wrap
                    .services__documents__img(data-slide='0')
                        img(src='static/img/content/services-img-doc-1.jpg' alt='')

                        .services__documents__img-more-read
                            .services__documents__img-title Замеры объекта
                            .services__documents__img-link Читать подробнее

                        .services__item__popup
                            .services__item__popup-wrap
                                .services__item__popup-close
                                    span
                                    span
                                    span
                                    .services__item__popup-cross.services__item__popup-cross--left
                                    .services__item__popup-cross.services__item__popup-cross--right

                                .services__item__popup-title Замеры объекта

                                .services__item__popup-text
                                    p Повседневная практика показывает, что новая модель организационной деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.
                                    p Не следует, однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании модели развития.
                                    p Не следует, однако забывать, что сложившаяся структура организации позволяет выполнять важные задания по разработке направлений прогрессивного развития.

                    .services__documents__img(data-slide='1')
                        img(src='static/img/content/services-img-doc-2.jpg' alt='')

                        .services__documents__img-more-read
                            .services__documents__img-title Технический дизайн
                            .services__documents__img-link Читать подробнее

                        .services__item__popup
                            .services__item__popup-wrap
                                .services__item__popup-close
                                    span
                                    span
                                    span
                                    .services__item__popup-cross.services__item__popup-cross--left
                                    .services__item__popup-cross.services__item__popup-cross--right

                                .services__item__popup-title Замеры объекта

                                .services__item__popup-text
                                    p Повседневная практика показывает, что новая модель организационной деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.
                                    p Не следует, однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании модели развития.
                                    p Не следует, однако забывать, что сложившаяся структура организации позволяет выполнять важные задания по разработке направлений прогрессивного развития.

                    .services__documents__img(data-slide='2')
                        img(src='static/img/content/services-img-doc-2.jpg' alt='')

                        .services__documents__img-more-read
                            .services__documents__img-title Сметы
                            .services__documents__img-link Читать подробнее

                        .services__item__popup
                            .services__item__popup-wrap
                                .services__item__popup-close
                                    span
                                    span
                                    span
                                    .services__item__popup-cross.services__item__popup-cross--left
                                    .services__item__popup-cross.services__item__popup-cross--right

                                .services__item__popup-title Замеры объекта

                                .services__item__popup-text
                                    p Повседневная практика показывает, что новая модель организационной деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.
                                    p Не следует, однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании модели развития.
                                    p Не следует, однако забывать, что сложившаяся структура организации позволяет выполнять важные задания по разработке направлений прогрессивного развития.

                .services__item__right-side.services__documents__flex
                    .services__documents__top
                        .services__item__number 01
                        .services__item__title Подготовка документации

                    .services__documents__center
                        .services__documents__item._active(data-slide-number='0')
                            .services__documents__lines
                                .services__documents__lines-item
                                .services__documents__lines-item
                                .services__documents__lines-item
                                .services__documents__lines-round
                                    .services__documents__lines-round-inner

                            | Замеры объекта

                        .services__documents__item(data-slide-number='1')
                            .services__documents__lines
                                .services__documents__lines-item
                                .services__documents__lines-item
                                .services__documents__lines-item
                                .services__documents__lines-round
                                    .services__documents__lines-round-inner

                            | Технический дизайн

                        .services__documents__item(data-slide-number='2')
                            .services__documents__lines
                                .services__documents__lines-item
                                .services__documents__lines-item
                                .services__documents__lines-item
                                .services__documents__lines-round
                                    .services__documents__lines-round-inner

                            | Сметы

                    .services__documents__bottom
                        button.default-btn.default-btn--orange
                            .default-btn__icon.default-btn__icon--left
                                +icon('btn-arrow')
                            .default-btn__text Перейти в базу знаний
                            .default-btn__icon.default-btn__icon--right
                                +icon('btn-arrow')


        .services__item.services__item--imgs-right
            .services__item__wrap
                .services__item__left-side
                    .services__item__top
                        .services__item__number 02
                        .services__item__title Тех работы, разводка инженерных коммуникаций

                    .services__item__center
                        .services__item__line._active(data-slide-number='0')
                            | электрика

                        .services__item__line(data-slide-number='1')
                            | сантехника

                        .services__item__line(data-slide-number='2')
                            | отопление

                        .services__item__line(data-slide-number='3')
                            | вентеляция

                .services__item__right-side
                    .services__item__img-wrap
                        .services__item__img._active(data-slide='0')
                            img(src='static/img/content/services-img-doc-3.jpg' alt='')

                            .services__item__img-more-read
                                .services__item__img-title электрика
                                .services__item__img-link Читать подробнее

                            .services__item__popup
                                .services__item__popup-wrap
                                    .services__item__popup-close
                                        span
                                        span
                                        span
                                        .services__item__popup-cross.services__item__popup-cross--left
                                        .services__item__popup-cross.services__item__popup-cross--right

                                    .services__item__popup-title электрика

                                    .services__item__popup-text
                                        p Повседневная практика показывает, что новая модель организационной деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.
                                        p Не следует, однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании модели развития.

                        .services__item__img(data-slide='1')
                            img(src='static/img/content/services-img-doc-4.jpg' alt='')

                            .services__item__img-more-read
                                .services__item__img-title сантехника
                                .services__item__img-link Читать подробнее

                            .services__item__popup
                                .services__item__popup-wrap
                                    .services__item__popup-close
                                        span
                                        span
                                        span
                                        .services__item__popup-cross.services__item__popup-cross--left
                                        .services__item__popup-cross.services__item__popup-cross--right

                                    .services__item__popup-title сантехника

                                    .services__item__popup-text
                                        p Повседневная практика показывает, что новая модель организационной деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.
                                        p Не следует, однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании модели развития.

                        .services__item__img(data-slide='2')
                            img(src='static/img/content/services-img-doc-5.jpg' alt='')

                            .services__item__img-more-read
                                .services__item__img-title отопление
                                .services__item__img-link Читать подробнее

                            .services__item__popup
                                .services__item__popup-wrap
                                    .services__item__popup-close
                                        span
                                        span
                                        span
                                        .services__item__popup-cross.services__item__popup-cross--left
                                        .services__item__popup-cross.services__item__popup-cross--right

                                    .services__item__popup-title отопление

                                    .services__item__popup-text
                                        p Повседневная практика показывает, что новая модель организационной деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.
                                        p Не следует, однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании модели развития.

                        .services__item__img(data-slide='3')
                            img(src='static/img/content/services-img-doc-6.jpg' alt='')

                            .services__item__img-more-read
                                .services__item__img-title вентеляция
                                .services__item__img-link Читать подробнее

                            .services__item__popup
                                .services__item__popup-wrap
                                    .services__item__popup-close
                                        span
                                        span
                                        span
                                        .services__item__popup-cross.services__item__popup-cross--left
                                        .services__item__popup-cross.services__item__popup-cross--right

                                    .services__item__popup-title вентеляция

                                    .services__item__popup-text
                                        p Повседневная практика показывает, что новая модель организационной деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.
                                        p Не следует, однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании модели развития.
                    .services__item__btns
                        .services__item__btns-prev
                            +icon('arrow-slider-left')

                        .services__item__btns-next
                            +icon('arrow-slider-right')

                    .services__item__numbers
                        .services__item__numbers-current
                            span 1

                        .services__item__numbers-all
                            | / 4

        .services__item.services__item--imgs-left
            .services__item__wrap
                .services__item__left-side
                    .services__item__img-wrap
                        .services__item__img._active(data-slide='0')
                            img(src='static/img/content/services-img-doc-3.jpg' alt='')

                            .services__item__img-more-read
                                .services__item__img-title демонтаж
                                .services__item__img-link Читать подробнее

                            .services__item__popup
                                .services__item__popup-wrap
                                    .services__item__popup-close
                                        span
                                        span
                                        span
                                        .services__item__popup-cross.services__item__popup-cross--left
                                        .services__item__popup-cross.services__item__popup-cross--right

                                    .services__item__popup-title демонтаж

                                    .services__item__popup-text
                                        p Повседневная практика показывает, что новая модель организационной деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.
                                        p Не следует, однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании модели развития.

                        .services__item__img(data-slide='1')
                            img(src='static/img/content/services-img-doc-4.jpg' alt='')

                            .services__item__img-more-read
                                .services__item__img-title возведение перегородок
                                .services__item__img-link Читать подробнее

                            .services__item__popup
                                .services__item__popup-wrap
                                    .services__item__popup-close
                                        span
                                        span
                                        span
                                        .services__item__popup-cross.services__item__popup-cross--left
                                        .services__item__popup-cross.services__item__popup-cross--right

                                    .services__item__popup-title возведение перегородок

                                    .services__item__popup-text
                                        p Повседневная практика показывает, что новая модель организационной деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.
                                        p Не следует, однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании модели развития

                        .services__item__img(data-slide='2')
                            img(src='static/img/content/services-img-doc-5.jpg' alt='')

                            .services__item__img-more-read
                                .services__item__img-title монтаж ГКЛ
                                .services__item__img-link Читать подробнее

                            .services__item__popup
                                .services__item__popup-wrap
                                    .services__item__popup-close
                                        span
                                        span
                                        span
                                        .services__item__popup-cross.services__item__popup-cross--left
                                        .services__item__popup-cross.services__item__popup-cross--right

                                    .services__item__popup-title монтаж ГКЛ

                                    .services__item__popup-text
                                        p Повседневная практика показывает, что новая модель организационной деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.
                                        p Не следует, однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании модели развития.

                        .services__item__img(data-slide='3')
                            img(src='static/img/content/services-img-doc-6.jpg' alt='')

                            .services__item__img-more-read
                                .services__item__img-title устройство проемов
                                .services__item__img-link Читать подробнее

                            .services__item__popup
                                .services__item__popup-wrap
                                    .services__item__popup-close
                                        span
                                        span
                                        span
                                        .services__item__popup-cross.services__item__popup-cross--left
                                        .services__item__popup-cross.services__item__popup-cross--right

                                    .services__item__popup-title устройство проемов

                                    .services__item__popup-text
                                        p Повседневная практика показывает, что новая модель организационной деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.
                                        p Не следует, однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании модели развития.

                        .services__item__img(data-slide='4')
                            img(src='static/img/content/services-img-doc-7.jpg' alt='')

                            .services__item__img-more-read
                                .services__item__img-title натяжной потолок
                                .services__item__img-link Читать подробнее

                            .services__item__popup
                                .services__item__popup-wrap
                                    .services__item__popup-close
                                        span
                                        span
                                        span
                                        .services__item__popup-cross.services__item__popup-cross--left
                                        .services__item__popup-cross.services__item__popup-cross--right

                                    .services__item__popup-title натяжной потолок

                                    .services__item__popup-text
                                        p Повседневная практика показывает, что новая модель организационной деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.
                                        p Не следует, однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании модели развития.

                        .services__item__img(data-slide='5')
                            img(src='static/img/content/services-img-doc-8.jpg' alt='')

                            .services__item__img-more-read
                                .services__item__img-title подвесной потолок
                                .services__item__img-link Читать подробнее

                            .services__item__popup
                                .services__item__popup-wrap
                                    .services__item__popup-close
                                        span
                                        span
                                        span
                                        .services__item__popup-cross.services__item__popup-cross--left
                                        .services__item__popup-cross.services__item__popup-cross--right

                                    .services__item__popup-title подвесной потолок

                                    .services__item__popup-text
                                        p Повседневная практика показывает, что новая модель организационной деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.
                                        p Не следует, однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании модели развития.

                        .services__item__img(data-slide='6')
                            img(src='static/img/content/services-img-doc-9.jpg' alt='')

                            .services__item__img-more-read
                                .services__item__img-title штукатурные работы
                                .services__item__img-link Читать подробнее

                            .services__item__popup
                                .services__item__popup-wrap
                                    .services__item__popup-close
                                        span
                                        span
                                        span
                                        .services__item__popup-cross.services__item__popup-cross--left
                                        .services__item__popup-cross.services__item__popup-cross--right

                                    .services__item__popup-title штукатурные работы

                                    .services__item__popup-text
                                        p Повседневная практика показывает, что новая модель организационной деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.
                                        p Не следует, однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании модели развития.

                        .services__item__img(data-slide='7')
                            img(src='static/img/content/services-img-doc-10.jpg' alt='')

                            .services__item__img-more-read
                                .services__item__img-title устройство полов
                                .services__item__img-link Читать подробнее

                            .services__item__popup
                                .services__item__popup-wrap
                                    .services__item__popup-close
                                        span
                                        span
                                        span
                                        .services__item__popup-cross.services__item__popup-cross--left
                                        .services__item__popup-cross.services__item__popup-cross--right

                                    .services__item__popup-title устройство полов

                                    .services__item__popup-text
                                        p Повседневная практика показывает, что новая модель организационной деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.
                                        p Не следует, однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании модели развития.

                        .services__item__img(data-slide='8')
                            img(src='static/img/content/services-img-doc-11.jpg' alt='')

                            .services__item__img-more-read
                                .services__item__img-title звукоизоляция
                                .services__item__img-link Читать подробнее

                            .services__item__popup
                                .services__item__popup-wrap
                                    .services__item__popup-close
                                        span
                                        span
                                        span
                                        .services__item__popup-cross.services__item__popup-cross--left
                                        .services__item__popup-cross.services__item__popup-cross--right

                                    .services__item__popup-title звукоизоляция

                                    .services__item__popup-text
                                        p Повседневная практика показывает, что новая модель организационной деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.
                                        p Не следует, однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании модели развития.

                    .services__item__btns
                        .services__item__btns-prev
                            +icon('arrow-slider-left')

                        .services__item__btns-next
                            +icon('arrow-slider-right')

                    .services__item__numbers
                        .services__item__numbers-current
                            span 1

                        .services__item__numbers-all
                            | / 9

                .services__item__right-side
                    .services__item__top
                        .services__item__number 03
                        .services__item__title Черновые работы

                    .services__item__center
                        .services__item__line._active(data-slide-number='0')
                            | демонтаж

                        .services__item__line(data-slide-number='1')
                            | возведение перегородок

                        .services__item__line(data-slide-number='2')
                            | монтаж ГКЛ

                        .services__item__line(data-slide-number='3')
                            | устройство проемов

                        .services__item__line(data-slide-number='4')
                            | натяжной потолок

                        .services__item__line(data-slide-number='5')
                            | подвесной потолок

                        .services__item__line(data-slide-number='6')
                            | штукатурные работы

                        .services__item__line(data-slide-number='7')
                            | устройство полов

                        .services__item__line(data-slide-number='8')
                            | звукоизоляция

        .services__item.services__item--imgs-right
            .services__item__wrap
                .services__item__left-side
                    .services__item__top
                        .services__item__number 04
                        .services__item__title Финишная отделка

                    .services__item__center
                        .services__item__line._active(data-slide-number='0')
                            | малярные работы

                        .services__item__line(data-slide-number='1')
                            | покраска

                        .services__item__line(data-slide-number='2')
                            | стеновые покрытия

                        .services__item__line(data-slide-number='3')
                            | потолочные покрытия

                        .services__item__line(data-slide-number='4')
                            | плиточные работы

                        .services__item__line(data-slide-number='5')
                            | установка дверей

                .services__item__right-side
                    .services__item__img-wrap
                        .services__item__img._active(data-slide='0')
                            img(src='static/img/content/services-img-doc-3.jpg' alt='')

                            .services__item__img-more-read
                                .services__item__img-title малярные работы
                                .services__item__img-link Читать подробнее

                            .services__item__popup
                                .services__item__popup-wrap
                                    .services__item__popup-close
                                        span
                                        span
                                        span
                                        .services__item__popup-cross.services__item__popup-cross--left
                                        .services__item__popup-cross.services__item__popup-cross--right

                                    .services__item__popup-title малярные работы

                                    .services__item__popup-text
                                        p Повседневная практика показывает, что новая модель организационной деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.
                                        p Не следует, однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании модели развития.

                        .services__item__img(data-slide='1')
                            img(src='static/img/content/services-img-doc-4.jpg' alt='')

                            .services__item__img-more-read
                                .services__item__img-title покраска
                                .services__item__img-link Читать подробнее

                            .services__item__popup
                                .services__item__popup-wrap
                                    .services__item__popup-close
                                        span
                                        span
                                        span
                                        .services__item__popup-cross.services__item__popup-cross--left
                                        .services__item__popup-cross.services__item__popup-cross--right

                                    .services__item__popup-title покраска

                                    .services__item__popup-text
                                        p Повседневная практика показывает, что новая модель организационной деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.
                                        p Не следует, однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании модели развития.

                        .services__item__img(data-slide='2')
                            img(src='static/img/content/services-img-doc-5.jpg' alt='')

                            .services__item__img-more-read
                                .services__item__img-title стеновые покрытия
                                .services__item__img-link Читать подробнее

                            .services__item__popup
                                .services__item__popup-wrap
                                    .services__item__popup-close
                                        span
                                        span
                                        span
                                        .services__item__popup-cross.services__item__popup-cross--left
                                        .services__item__popup-cross.services__item__popup-cross--right

                                    .services__item__popup-title стеновые покрытия

                                    .services__item__popup-text
                                        p Повседневная практика показывает, что новая модель организационной деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.
                                        p Не следует, однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании модели развития.

                        .services__item__img(data-slide='3')
                            img(src='static/img/content/services-img-doc-6.jpg' alt='')

                            .services__item__img-more-read
                                .services__item__img-title потолочные покрытия
                                .services__item__img-link Читать подробнее

                            .services__item__popup
                                .services__item__popup-wrap
                                    .services__item__popup-close
                                        span
                                        span
                                        span
                                        .services__item__popup-cross.services__item__popup-cross--left
                                        .services__item__popup-cross.services__item__popup-cross--right

                                    .services__item__popup-title потолочные покрытия

                                    .services__item__popup-text
                                        p Повседневная практика показывает, что новая модель организационной деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.
                                        p Не следует, однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании модели развития.

                        .services__item__img(data-slide='4')
                            img(src='static/img/content/services-img-doc-7.jpg' alt='')

                            .services__item__img-more-read
                                .services__item__img-title плиточные работы
                                .services__item__img-link Читать подробнее

                            .services__item__popup
                                .services__item__popup-wrap
                                    .services__item__popup-close
                                        span
                                        span
                                        span
                                        .services__item__popup-cross.services__item__popup-cross--left
                                        .services__item__popup-cross.services__item__popup-cross--right

                                    .services__item__popup-title плиточные работы

                                    .services__item__popup-text
                                        p Повседневная практика показывает, что новая модель организационной деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.
                                        p Не следует, однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании модели развития.

                        .services__item__img(data-slide='5')
                            img(src='static/img/content/services-img-doc-8.jpg' alt='')

                            .services__item__img-more-read
                                .services__item__img-title установка дверей
                                .services__item__img-link Читать подробнее

                            .services__item__popup
                                .services__item__popup-wrap
                                    .services__item__popup-close
                                        span
                                        span
                                        span
                                        .services__item__popup-cross.services__item__popup-cross--left
                                        .services__item__popup-cross.services__item__popup-cross--right

                                    .services__item__popup-title установка дверей

                                    .services__item__popup-text
                                        p Повседневная практика показывает, что новая модель организационной деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.
                                        p Не следует, однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании модели развития.

                    .services__item__btns
                        .services__item__btns-prev
                            +icon('arrow-slider-left')

                        .services__item__btns-next
                            +icon('arrow-slider-right')

                    .services__item__numbers
                        .services__item__numbers-current
                            span 1

                        .services__item__numbers-all
                            | / 6
        .services__item.services__item--additionally
            .services__item__wrap
                .services__item__left-side
                    .services__list
                        .services__list__item
                            .services__list__icon
                                img(src='static/img/icons/how-we-work-ico-4.svg' width='50' alt='')

                            .services__list__text Доставка, закупка, подбор материалов

                        .services__list__item
                            .services__list__icon
                                img(src='static/img/icons/how-we-work-ico-10.svg' width='38' alt='')

                            .services__list__text Страховка объекта

                        .services__list__item
                            .services__list__icon
                                img(src='static/img/icons/how-we-work-ico-11.svg' width='58' alt='')

                            .services__list__text Ремонт  в кредит

                        .services__list__item
                            .services__list__icon
                                img(src='static/img/icons/how-we-work-ico-6.svg' width='58' alt='')

                            .services__list__text Клининг

                        .services__list__item
                            .services__list__icon
                                img(src='static/img/icons/how-we-work-ico-12.svg' width='56' alt='')

                            .services__list__text Поэтапный фотоотчет

                .services__item__right-side.services__documents__flex
                    .services__documents__top
                        .services__item__number 05
                        .services__item__title Дополнительные услуги

                    .services__item__center.pt-0
                        .services__item__text
                            p
                                | С другой стороны новая модель организационной деятельности
                                span  требуют определения и уточнения направлений
                                |  прогрессивного развития.

                    .services__documents__bottom
                        button.default-btn.default-btn--orange
                            .default-btn__icon.default-btn__icon--left
                                +icon('calc')
                            .default-btn__text Калькулятор
                            .default-btn__icon.default-btn__icon--right
                                +icon('calc')

// End services