// Begin team

.team.page-block#team.nav-view-checker
	.wave-bg

	.container
		.team__title.block-title
			h2
				| Наша
				span  Команда

	.team__slider
		.team__slider__item
			.team__slider__item-wrap
				.team__slider__item-img
					img(src='static/img/content/team-img.jpg' alt='')

				.team__slider__item-text
					p Наша команда — это высококвалифицированные специалисты. Все они — постоянные сотрудники.
					p Для проведения работ используются профессиональные инструменты и современные материалы.

					.team__slider__item-info
						.team__slider__item-name Забелин Александр
						.team__slider__item-post Руководитель компании

		.team__slider__item
			.team__slider__item-wrap
				.team__slider__item-img
					img(src='static/img/content/team-img.jpg' alt='')

				.team__slider__item-text
					p Наша команда — это высококвалифицированные специалисты. Все они — постоянные сотрудники.
					p Для проведения работ используются профессиональные инструменты и современные материалы.

					.team__slider__item-info
						.team__slider__item-name Забелин Александр
						.team__slider__item-post Руководитель компании

		.team__slider__item
			.team__slider__item-wrap
				.team__slider__item-img
					img(src='static/img/content/team-img.jpg' alt='')

				.team__slider__item-text
					p Наша команда — это высококвалифицированные специалисты. Все они — постоянные сотрудники.
					p Для проведения работ используются профессиональные инструменты и современные материалы.

					.team__slider__item-info
						.team__slider__item-name Забелин Александр
						.team__slider__item-post Руководитель компании

		.team__slider__item
			.team__slider__item-wrap
				.team__slider__item-img
					img(src='static/img/content/team-img.jpg' alt='')

				.team__slider__item-text
					p Наша команда — это высококвалифицированные специалисты. Все они — постоянные сотрудники.
					p Для проведения работ используются профессиональные инструменты и современные материалы.

					.team__slider__item-info
						.team__slider__item-name Забелин Александр
						.team__slider__item-post Руководитель компании

		.team__slider__item
			.team__slider__item-wrap
				.team__slider__item-img
					img(src='static/img/content/team-img.jpg' alt='')

				.team__slider__item-text
					p Наша команда — это высококвалифицированные специалисты. Все они — постоянные сотрудники.
					p Для проведения работ используются профессиональные инструменты и современные материалы.

					.team__slider__item-info
						.team__slider__item-name Забелин Александр
						.team__slider__item-post Руководитель компании

		.team__slider__item
			.team__slider__item-wrap
				.team__slider__item-img
					img(src='static/img/content/team-img.jpg' alt='')

				.team__slider__item-text
					p Наша команда — это высококвалифицированные специалисты. Все они — постоянные сотрудники.
					p Для проведения работ используются профессиональные инструменты и современные материалы.

					.team__slider__item-info
						.team__slider__item-name Забелин Александр
						.team__slider__item-post Руководитель компании

		.team__slider__item
			.team__slider__item-wrap
				.team__slider__item-img
					img(src='static/img/content/team-img.jpg' alt='')

				.team__slider__item-text
					p Наша команда — это высококвалифицированные специалисты. Все они — постоянные сотрудники.
					p Для проведения работ используются профессиональные инструменты и современные материалы.

					.team__slider__item-info
						.team__slider__item-name Забелин Александр
						.team__slider__item-post Руководитель компании

		.team__slider__item
			.team__slider__item-wrap
				.team__slider__item-img
					img(src='static/img/content/team-img.jpg' alt='')

				.team__slider__item-text
					p Наша команда — это высококвалифицированные специалисты. Все они — постоянные сотрудники.
					p Для проведения работ используются профессиональные инструменты и современные материалы.

					.team__slider__item-info
						.team__slider__item-name Забелин Александр
						.team__slider__item-post Руководитель компании

		.team__slider__item
			.team__slider__item-wrap
				.team__slider__item-img
					img(src='static/img/content/team-img.jpg' alt='')

				.team__slider__item-text
					p Наша команда — это высококвалифицированные специалисты. Все они — постоянные сотрудники.
					p Для проведения работ используются профессиональные инструменты и современные материалы.

					.team__slider__item-info
						.team__slider__item-name Забелин Александр
						.team__slider__item-post Руководитель компании

		.team__slider__item
			.team__slider__item-wrap
				.team__slider__item-img
					img(src='static/img/content/team-img.jpg' alt='')

				.team__slider__item-text
					p Наша команда — это высококвалифицированные специалисты. Все они — постоянные сотрудники.
					p Для проведения работ используются профессиональные инструменты и современные материалы.

					.team__slider__item-info
						.team__slider__item-name Забелин Александр
						.team__slider__item-post Руководитель компании

		.team__slider__item
			.team__slider__item-wrap
				.team__slider__item-img
					img(src='static/img/content/team-img.jpg' alt='')

				.team__slider__item-text
					p Наша команда — это высококвалифицированные специалисты. Все они — постоянные сотрудники.
					p Для проведения работ используются профессиональные инструменты и современные материалы.

					.team__slider__item-info
						.team__slider__item-name Забелин Александр
						.team__slider__item-post Руководитель компании

		.team__slider__item
			.team__slider__item-wrap
				.team__slider__item-img
					img(src='static/img/content/team-img.jpg' alt='')

				.team__slider__item-text
					p Наша команда — это высококвалифицированные специалисты. Все они — постоянные сотрудники.
					p Для проведения работ используются профессиональные инструменты и современные материалы.

					.team__slider__item-info
						.team__slider__item-name Забелин Александр
						.team__slider__item-post Руководитель компании

	.container
		.team__slider-nav
			.team__slider-nav__item
				.team__slider-nav__item-img
					img(src='static/img/content/team-thumb-img.jpg' alt='')

				.team__slider-nav__item-name Забелин Александр
				.team__slider-nav__item-post Руководитель компании

			.team__slider-nav__item
				.team__slider-nav__item-img
					img(src='static/img/content/team-thumb-img.jpg' alt='')

				.team__slider-nav__item-name Забелин Александр
				.team__slider-nav__item-post Руководитель компании

			.team__slider-nav__item
				.team__slider-nav__item-img
					img(src='static/img/content/team-thumb-img.jpg' alt='')

				.team__slider-nav__item-name Забелин Александр
				.team__slider-nav__item-post Руководитель компании

			.team__slider-nav__item
				.team__slider-nav__item-img
					img(src='static/img/content/team-thumb-img.jpg' alt='')

				.team__slider-nav__item-name Забелин Александр
				.team__slider-nav__item-post Руководитель компании

			.team__slider-nav__item
				.team__slider-nav__item-img
					img(src='static/img/content/team-thumb-img.jpg' alt='')

				.team__slider-nav__item-name Забелин Александр
				.team__slider-nav__item-post Руководитель компании

			.team__slider-nav__item
				.team__slider-nav__item-img
					img(src='static/img/content/team-thumb-img.jpg' alt='')

				.team__slider-nav__item-name Забелин Александр
				.team__slider-nav__item-post Руководитель компании

			.team__slider-nav__item
				.team__slider-nav__item-img
					img(src='static/img/content/team-thumb-img.jpg' alt='')

				.team__slider-nav__item-name Забелин Александр
				.team__slider-nav__item-post Руководитель компании

			.team__slider-nav__item
				.team__slider-nav__item-img
					img(src='static/img/content/team-thumb-img.jpg' alt='')

				.team__slider-nav__item-name Забелин Александр
				.team__slider-nav__item-post Руководитель компании

			.team__slider-nav__item
				.team__slider-nav__item-img
					img(src='static/img/content/team-thumb-img.jpg' alt='')

				.team__slider-nav__item-name Забелин Александр
				.team__slider-nav__item-post Руководитель компании

			.team__slider-nav__item
				.team__slider-nav__item-img
					img(src='static/img/content/team-thumb-img.jpg' alt='')

				.team__slider-nav__item-name Забелин Александр
				.team__slider-nav__item-post Руководитель компании

			.team__slider-nav__item
				.team__slider-nav__item-img
					img(src='static/img/content/team-thumb-img.jpg' alt='')

				.team__slider-nav__item-name Забелин Александр
				.team__slider-nav__item-post Руководитель компании

			.team__slider-nav__item
				.team__slider-nav__item-img
					img(src='static/img/content/team-thumb-img.jpg' alt='')

				.team__slider-nav__item-name Забелин Александр
				.team__slider-nav__item-post Руководитель компании


// End team