extends ../layout/main

block variables
    - var title = 'О нас'
    - var modPage = 'no-home about-page'
    - var breadcrumbsActive = 'О нас'

block content
    .about-page__wrap.page-wrap
        include ../modules/breadcrumbs

        .container
            h1
                | о
                span  нас

            img.content-img.mt-0.mb-0(src='static/img/content/about-content-img.jpg' alt='')

            .row.justify-content-center
                .col-lg-8
                    h3
                        span Каждый проект уникален
                        |  и требует индивидуального подхода.

                    p В то же время комплексные решения показали себя самыми эффективными в сфере строительно-ремонтных работ.

                    p Понимая это, специалисты компании «ТС-Строй» постарались объединить все необходимое, что нужно для строительства и ремонта квартир, домов и офисов. В штате фирмы на постоянной основе трудятся менеджеры, инженеры, дизайнеры, строители. Первые выясняют потребности клиента, вторые прорабатывают систему инженерных коммуникаций, звукоизоляции и прочие технические вопросы, третьи создают дизайн-проект, по которому строители выполнят ремонт.

                    p Компания также осуществляет подбор и закупку материалов для черновой и чистовой отделки, может обеспечить поставку звуко-, вибро- и декоративно-акустических материалов собственного производства.

            .row.justiy-content-between
                .col-lg-6
                    img.content-img.mb-0(src='static/img/content/about-content-img2.jpg' alt='')

                .col-lg-6
                    img.content-img.mb-0(src='static/img/content/about-content-img3.jpg' alt='')

            .row.justify-content-center
                .col-lg-8
                    h3
                        | Проект от «ТС-строй»
                        span  включает в себя
                        | :

                    ul.content-ul
                        li Разработку технических решений;
                        li Разработку дизайна помещений;
                        li Подготовку и согласование документации
                        li Поставку материала на объект;
                        li Разводку коммуникаций;
                        li Монтажные и технические работы;
                        li Чистовую отделку.

                    p Клиент получает полный спектр услуг, от разработки технической документации до финишной отделки, из одних рук, что экономит силы, время и деньги. К тому же он имеет дело только с одним исполнителем, отвечающим за результат вплоть до передачи ключей заказчику.

                    p Залог успеха компании «ТС-Строй» – ее многолетний опыт, высокая квалификация мастеров и более 800 сданных объектов. Все работы выполняются по договору. Гарантия составляет 3 года.

    include ../modules/ask