extends ../layout/main

block variables
    - var title = 'Главная страница'

block content
    include ../modules/mainSlider

    include ../modules/about

    include ../modules/about-videos

    include ../modules/how-we-work

    include ../modules/services

    include ../modules/actions