extends ../layout/main

block variables
    - var title = 'Портфолио'
    - var modPage = 'no-home portfolio-page'
    - var breadcrumbsActive = 'Портфолио'

block content
    .portfolio-page__wrap.page-wrap
        include ../modules/breadcrumbs

        .container
            h1 #{title}

        .portfolio__wrap
            .portfolio__item
                .portfolio__item-img
                    img(src='static/img/content/portfolio-img.jpg' alt='')

                .portfolio__item__popup
                    .container
                        .portfolio__item__popup-wrap
                            .portfolio__item__popup-close
                                .portfolio__item__popup-close-btn
                                    span
                                    span
                                    span
                                    .portfolio__item__popup-close-cross.portfolio__item__popup-close-cross--left
                                    .portfolio__item__popup-close-cross.portfolio__item__popup-close-cross--right

                                .portfolio__item__popup-close-text Закрыть

                            .portfolio__item__popup-left-side
                                .portfolio__item__popup-slider
                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                .portfolio__item__popup-slider-nav
                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                            .portfolio__item__popup-right-side
                                .portfolio__item__popup-title Отделка актового зала школы, Люберцы
                                .portfolio__item__popup-text-block
                                    .portfolio__item__popup-sub-title Поставленная задача
                                    p Отделка актового зала в школе с использованием декоративных акустических панелей.

                                .portfolio__item__popup-text-block
                                    .portfolio__item__popup-sub-title Особенности проекта
                                    p Произведена отделка актового зала школы в Люберцах.
                                    p В работе использовались декоративные акустические панели Soundec, СтопЗвук БП Премиум, акустический ГКЛ Кнауф.

            .portfolio__item
                .portfolio__item-img
                    img(src='static/img/content/portfolio-img.jpg' alt='')

                .portfolio__item__popup
                    .container
                        .portfolio__item__popup-wrap
                            .portfolio__item__popup-close
                                .portfolio__item__popup-close-btn
                                    span
                                    span
                                    span
                                    .portfolio__item__popup-close-cross.portfolio__item__popup-close-cross--left
                                    .portfolio__item__popup-close-cross.portfolio__item__popup-close-cross--right

                                .portfolio__item__popup-close-text Закрыть

                            .portfolio__item__popup-left-side
                                .portfolio__item__popup-slider
                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                .portfolio__item__popup-slider-nav
                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                            .portfolio__item__popup-right-side
                                .portfolio__item__popup-title Отделка актового зала школы, Люберцы
                                .portfolio__item__popup-text-block
                                    .portfolio__item__popup-sub-title Поставленная задача
                                    p Отделка актового зала в школе с использованием декоративных акустических панелей.

                                .portfolio__item__popup-text-block
                                    .portfolio__item__popup-sub-title Особенности проекта
                                    p Произведена отделка актового зала школы в Люберцах.
                                    p В работе использовались декоративные акустические панели Soundec, СтопЗвук БП Премиум, акустический ГКЛ Кнауф.

            .portfolio__item
                .portfolio__item-img
                    img(src='static/img/content/portfolio-img.jpg' alt='')

                .portfolio__item__popup
                    .container
                        .portfolio__item__popup-wrap
                            .portfolio__item__popup-close
                                .portfolio__item__popup-close-btn
                                    span
                                    span
                                    span
                                    .portfolio__item__popup-close-cross.portfolio__item__popup-close-cross--left
                                    .portfolio__item__popup-close-cross.portfolio__item__popup-close-cross--right

                                .portfolio__item__popup-close-text Закрыть

                            .portfolio__item__popup-left-side
                                .portfolio__item__popup-slider
                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                .portfolio__item__popup-slider-nav
                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                            .portfolio__item__popup-right-side
                                .portfolio__item__popup-title Отделка актового зала школы, Люберцы
                                .portfolio__item__popup-text-block
                                    .portfolio__item__popup-sub-title Поставленная задача
                                    p Отделка актового зала в школе с использованием декоративных акустических панелей.

                                .portfolio__item__popup-text-block
                                    .portfolio__item__popup-sub-title Особенности проекта
                                    p Произведена отделка актового зала школы в Люберцах.
                                    p В работе использовались декоративные акустические панели Soundec, СтопЗвук БП Премиум, акустический ГКЛ Кнауф.

            .portfolio__item
                .portfolio__item-img
                    img(src='static/img/content/portfolio-img.jpg' alt='')

                .portfolio__item__popup
                    .container
                        .portfolio__item__popup-wrap
                            .portfolio__item__popup-close
                                .portfolio__item__popup-close-btn
                                    span
                                    span
                                    span
                                    .portfolio__item__popup-close-cross.portfolio__item__popup-close-cross--left
                                    .portfolio__item__popup-close-cross.portfolio__item__popup-close-cross--right

                                .portfolio__item__popup-close-text Закрыть

                            .portfolio__item__popup-left-side
                                .portfolio__item__popup-slider
                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                .portfolio__item__popup-slider-nav
                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                            .portfolio__item__popup-right-side
                                .portfolio__item__popup-title Отделка актового зала школы, Люберцы
                                .portfolio__item__popup-text-block
                                    .portfolio__item__popup-sub-title Поставленная задача
                                    p Отделка актового зала в школе с использованием декоративных акустических панелей.

                                .portfolio__item__popup-text-block
                                    .portfolio__item__popup-sub-title Особенности проекта
                                    p Произведена отделка актового зала школы в Люберцах.
                                    p В работе использовались декоративные акустические панели Soundec, СтопЗвук БП Премиум, акустический ГКЛ Кнауф.

            .portfolio__item
                .portfolio__item-img
                    img(src='static/img/content/portfolio-img.jpg' alt='')

                .portfolio__item__popup
                    .container
                        .portfolio__item__popup-wrap
                            .portfolio__item__popup-close
                                .portfolio__item__popup-close-btn
                                    span
                                    span
                                    span
                                    .portfolio__item__popup-close-cross.portfolio__item__popup-close-cross--left
                                    .portfolio__item__popup-close-cross.portfolio__item__popup-close-cross--right

                                .portfolio__item__popup-close-text Закрыть

                            .portfolio__item__popup-left-side
                                .portfolio__item__popup-slider
                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                .portfolio__item__popup-slider-nav
                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                            .portfolio__item__popup-right-side
                                .portfolio__item__popup-title Отделка актового зала школы, Люберцы
                                .portfolio__item__popup-text-block
                                    .portfolio__item__popup-sub-title Поставленная задача
                                    p Отделка актового зала в школе с использованием декоративных акустических панелей.

                                .portfolio__item__popup-text-block
                                    .portfolio__item__popup-sub-title Особенности проекта
                                    p Произведена отделка актового зала школы в Люберцах.
                                    p В работе использовались декоративные акустические панели Soundec, СтопЗвук БП Премиум, акустический ГКЛ Кнауф.

            .portfolio__item
                .portfolio__item-img
                    img(src='static/img/content/portfolio-img.jpg' alt='')

                .portfolio__item__popup
                    .container
                        .portfolio__item__popup-wrap
                            .portfolio__item__popup-close
                                .portfolio__item__popup-close-btn
                                    span
                                    span
                                    span
                                    .portfolio__item__popup-close-cross.portfolio__item__popup-close-cross--left
                                    .portfolio__item__popup-close-cross.portfolio__item__popup-close-cross--right

                                .portfolio__item__popup-close-text Закрыть

                            .portfolio__item__popup-left-side
                                .portfolio__item__popup-slider
                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                .portfolio__item__popup-slider-nav
                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                            .portfolio__item__popup-right-side
                                .portfolio__item__popup-title Отделка актового зала школы, Люберцы
                                .portfolio__item__popup-text-block
                                    .portfolio__item__popup-sub-title Поставленная задача
                                    p Отделка актового зала в школе с использованием декоративных акустических панелей.

                                .portfolio__item__popup-text-block
                                    .portfolio__item__popup-sub-title Особенности проекта
                                    p Произведена отделка актового зала школы в Люберцах.
                                    p В работе использовались декоративные акустические панели Soundec, СтопЗвук БП Премиум, акустический ГКЛ Кнауф.

            .portfolio__item
                .portfolio__item-img
                    img(src='static/img/content/portfolio-img.jpg' alt='')

                .portfolio__item__popup
                    .container
                        .portfolio__item__popup-wrap
                            .portfolio__item__popup-close
                                .portfolio__item__popup-close-btn
                                    span
                                    span
                                    span
                                    .portfolio__item__popup-close-cross.portfolio__item__popup-close-cross--left
                                    .portfolio__item__popup-close-cross.portfolio__item__popup-close-cross--right

                                .portfolio__item__popup-close-text Закрыть

                            .portfolio__item__popup-left-side
                                .portfolio__item__popup-slider
                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                .portfolio__item__popup-slider-nav
                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                            .portfolio__item__popup-right-side
                                .portfolio__item__popup-title Отделка актового зала школы, Люберцы
                                .portfolio__item__popup-text-block
                                    .portfolio__item__popup-sub-title Поставленная задача
                                    p Отделка актового зала в школе с использованием декоративных акустических панелей.

                                .portfolio__item__popup-text-block
                                    .portfolio__item__popup-sub-title Особенности проекта
                                    p Произведена отделка актового зала школы в Люберцах.
                                    p В работе использовались декоративные акустические панели Soundec, СтопЗвук БП Премиум, акустический ГКЛ Кнауф.

            .portfolio__item
                .portfolio__item-img
                    img(src='static/img/content/portfolio-img.jpg' alt='')

                .portfolio__item__popup
                    .container
                        .portfolio__item__popup-wrap
                            .portfolio__item__popup-close
                                .portfolio__item__popup-close-btn
                                    span
                                    span
                                    span
                                    .portfolio__item__popup-close-cross.portfolio__item__popup-close-cross--left
                                    .portfolio__item__popup-close-cross.portfolio__item__popup-close-cross--right

                                .portfolio__item__popup-close-text Закрыть

                            .portfolio__item__popup-left-side
                                .portfolio__item__popup-slider
                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                .portfolio__item__popup-slider-nav
                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                            .portfolio__item__popup-right-side
                                .portfolio__item__popup-title Отделка актового зала школы, Люберцы
                                .portfolio__item__popup-text-block
                                    .portfolio__item__popup-sub-title Поставленная задача
                                    p Отделка актового зала в школе с использованием декоративных акустических панелей.

                                .portfolio__item__popup-text-block
                                    .portfolio__item__popup-sub-title Особенности проекта
                                    p Произведена отделка актового зала школы в Люберцах.
                                    p В работе использовались декоративные акустические панели Soundec, СтопЗвук БП Премиум, акустический ГКЛ Кнауф.

            .portfolio__item
                .portfolio__item-img
                    img(src='static/img/content/portfolio-img.jpg' alt='')

                .portfolio__item__popup
                    .container
                        .portfolio__item__popup-wrap
                            .portfolio__item__popup-close
                                .portfolio__item__popup-close-btn
                                    span
                                    span
                                    span
                                    .portfolio__item__popup-close-cross.portfolio__item__popup-close-cross--left
                                    .portfolio__item__popup-close-cross.portfolio__item__popup-close-cross--right

                                .portfolio__item__popup-close-text Закрыть

                            .portfolio__item__popup-left-side
                                .portfolio__item__popup-slider
                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                .portfolio__item__popup-slider-nav
                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                            .portfolio__item__popup-right-side
                                .portfolio__item__popup-title Отделка актового зала школы, Люберцы
                                .portfolio__item__popup-text-block
                                    .portfolio__item__popup-sub-title Поставленная задача
                                    p Отделка актового зала в школе с использованием декоративных акустических панелей.

                                .portfolio__item__popup-text-block
                                    .portfolio__item__popup-sub-title Особенности проекта
                                    p Произведена отделка актового зала школы в Люберцах.
                                    p В работе использовались декоративные акустические панели Soundec, СтопЗвук БП Премиум, акустический ГКЛ Кнауф.

            .portfolio__item
                .portfolio__item-img
                    img(src='static/img/content/portfolio-img.jpg' alt='')

                .portfolio__item__popup
                    .container
                        .portfolio__item__popup-wrap
                            .portfolio__item__popup-close
                                .portfolio__item__popup-close-btn
                                    span
                                    span
                                    span
                                    .portfolio__item__popup-close-cross.portfolio__item__popup-close-cross--left
                                    .portfolio__item__popup-close-cross.portfolio__item__popup-close-cross--right

                                .portfolio__item__popup-close-text Закрыть

                            .portfolio__item__popup-left-side
                                .portfolio__item__popup-slider
                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                .portfolio__item__popup-slider-nav
                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                            .portfolio__item__popup-right-side
                                .portfolio__item__popup-title Отделка актового зала школы, Люберцы
                                .portfolio__item__popup-text-block
                                    .portfolio__item__popup-sub-title Поставленная задача
                                    p Отделка актового зала в школе с использованием декоративных акустических панелей.

                                .portfolio__item__popup-text-block
                                    .portfolio__item__popup-sub-title Особенности проекта
                                    p Произведена отделка актового зала школы в Люберцах.
                                    p В работе использовались декоративные акустические панели Soundec, СтопЗвук БП Премиум, акустический ГКЛ Кнауф.

            .portfolio__item
                .portfolio__item-img
                    img(src='static/img/content/portfolio-img.jpg' alt='')

                .portfolio__item__popup
                    .container
                        .portfolio__item__popup-wrap
                            .portfolio__item__popup-close
                                .portfolio__item__popup-close-btn
                                    span
                                    span
                                    span
                                    .portfolio__item__popup-close-cross.portfolio__item__popup-close-cross--left
                                    .portfolio__item__popup-close-cross.portfolio__item__popup-close-cross--right

                                .portfolio__item__popup-close-text Закрыть

                            .portfolio__item__popup-left-side
                                .portfolio__item__popup-slider
                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                .portfolio__item__popup-slider-nav
                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                            .portfolio__item__popup-right-side
                                .portfolio__item__popup-title Отделка актового зала школы, Люберцы
                                .portfolio__item__popup-text-block
                                    .portfolio__item__popup-sub-title Поставленная задача
                                    p Отделка актового зала в школе с использованием декоративных акустических панелей.

                                .portfolio__item__popup-text-block
                                    .portfolio__item__popup-sub-title Особенности проекта
                                    p Произведена отделка актового зала школы в Люберцах.
                                    p В работе использовались декоративные акустические панели Soundec, СтопЗвук БП Премиум, акустический ГКЛ Кнауф.

            .portfolio__item
                .portfolio__item-img
                    img(src='static/img/content/portfolio-img.jpg' alt='')

                .portfolio__item__popup
                    .container
                        .portfolio__item__popup-wrap
                            .portfolio__item__popup-close
                                .portfolio__item__popup-close-btn
                                    span
                                    span
                                    span
                                    .portfolio__item__popup-close-cross.portfolio__item__popup-close-cross--left
                                    .portfolio__item__popup-close-cross.portfolio__item__popup-close-cross--right

                                .portfolio__item__popup-close-text Закрыть

                            .portfolio__item__popup-left-side
                                .portfolio__item__popup-slider
                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                    .portfolio__item__popup-slider-item
                                        img(src='static/img/content/portfolio-slider-img.jpg' alt='')

                                .portfolio__item__popup-slider-nav
                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                                    .portfolio__item__popup-slider-nav-item
                                        img(src='static/img/content/portfolio-slide-thumb.jpg' alt='')

                            .portfolio__item__popup-right-side
                                .portfolio__item__popup-title Отделка актового зала школы, Люберцы
                                .portfolio__item__popup-text-block
                                    .portfolio__item__popup-sub-title Поставленная задача
                                    p Отделка актового зала в школе с использованием декоративных акустических панелей.

                                .portfolio__item__popup-text-block
                                    .portfolio__item__popup-sub-title Особенности проекта
                                    p Произведена отделка актового зала школы в Люберцах.
                                    p В работе использовались декоративные акустические панели Soundec, СтопЗвук БП Премиум, акустический ГКЛ Кнауф.