.actions
    position: relative
    z-index: 3

    .services
        &__item
            height: auto

            &__left-side
                width: 500px

            &__right-side
                height: 770px

            &__img
                max-width: 400px
                height: 585px

    &__info
        position: absolute
        height: 100%
        width: 100%
        bottom: 0
        left: 0
        display: flex
        flex-direction: column
        justify-content: flex-end
        background: url('../img/icons/actions-hover.png') no-repeat center bottom
        padding: 0 60px 50px

        &__title
            font-family: $fPN
            font-size: 30px
            font-weight: 300
            line-height: 1.35
            text-transform: uppercase
            color: $cWhite
            letter-spacing: 1.2px

        &__count
            font-family: $fPN
            font-weight: 700
            text-transform: uppercase
            color: $cWhite
            margin-top: 20px

            &-title
                letter-spacing: 1.28px
                line-height: 1

            &-numb
                color: $cRed
                font-size: 45px
                letter-spacing: 3.6px
                line-height: 1.3

        &__link
            position: absolute
            bottom: 65px
            right: 52px
            color: $cWhite
            font-size: 14px
            letter-spacing: .56px
            text-decoration: none

            span
                border-bottom: 1px solid $cWhite

            .icon
                font-size: 12px
                position: relative
                top: 2px
                margin-left: 6px
                

+max-screen(1200px)
    .actions
        .services__item__left-side
            width: 450px
            

+max-screen(1140px)
    .actions
        .services__item__right-side
            width: 440px


+max-screen(992px)
    .actions
        .services
            &__item
                &__wrap
                    flex-direction: column

                &__left-side
                    width: 100%
                    padding-right: 0
                    margin-bottom: 60px

                &__right-side
                    width: 100%


+max-screen(767px)
    .actions
        &__info
            padding: 0 40px 50px
            align-items: flex-start

            &__title
                font-size: 20px

            &__link
                position: static

            &__count-numb
                font-size: 40px

        .services__item
            &__right-side
                height: auto

            &__img
                height: 360px

                &-wrap
                    height: 420px