.main-header
    position: absolute
    top: 0
    width: 100%
    padding-left: 79px
    z-index: 51

    &._fixed
        position: fixed
        top: -150px
        width: 100%
        height: 104px
        background: $cDark
        z-index: 200

        &._show
            top: 0
            transition: .2s ease-out

        .logo
            margin-top: 6px
            width: auto

            &__top
                //display: none
                width: 130px

            &__fixed
                //display: block

        .main-header
            &__left-side
                margin-top: 20px

        .menu__btn
            top: 40px

        .separate
            margin-top: 25px

        .phone
            margin-top: 34px
            
            &-icon
                margin-top: 18px

        .search
            margin-top: 23px

        .mail
            margin-top: 11px

    &__left-side
        color: $cRed
        margin-top: 72px

    &__right-side
        width: 255px

    &__overlay
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: $cDark
        opacity: 0
        visibility: hidden
        transition: .2s ease-out
        
    .phone
        margin-top: 72px

    &__search
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 203px
        background: $cRed
        z-index: 200
        transform: translateY(-100%)
        transition: .2s ease-out

        .container
            height: 100%

        &._show
            transform: translateY(0)

        &__wrap
            position: relative
            width: 100%
            height: 100%
            display: flex
            align-items: center

        form
            width: 100%
            height: 100%

        &__left-side
            width: 87.096%
            position: relative

        &__right-side
            width: 13%

        &__input
            display: block
            width: 100%
            height: 65px
            font-family: $fPN
            letter-spacing: .64px
            color: $cDark
            padding: 0 100px 0 100px
            border: none
            outline: none

        &__icon
            color: $cRed
            height: 16px
            line-height: 16px
            position: absolute
            top: 24px
            left: 40px

        &__btn
            position: absolute
            font-size: 20px
            line-height: 20px
            height: 20px
            color: $cRed
            z-index: 4
            top: 23px
            right: 69px

        &__close
            width: 23px
            height: 23px
            cursor: pointer
            position: relative
            margin-left: 37px

            &:hover
                span
                    &:nth-child(2)
                        background: lighten($cGray, 5%)

                        &::before,
                        &::after
                            background: $cGray

                    &:nth-child(1),
                    &:nth-child(3)
                        background: $cGray

                        &::before,
                        &::after
                            background: lighten($cGray, 5%)

            span
                display: block
                width: 3px
                height: 3px
                background: $cWhite
                position: relative
                margin: 0 auto 7px
                transition: .2s ease-out

                &::before,
                &::after
                    content: ""
                    background: $cWhite
                    width: 100%
                    height: 100%
                    position: absolute
                    top: 0
                    transition: .2s ease-out

                &::before
                    left: -10px

                &::after
                    right: -10px

                &:last-child
                    margin-bottom: 0

                &:nth-child(1),
                &:nth-child(3)
                    &::before,
                    &::after
                        opacity: 0

        &__cross
            top: -1px
            background: $cWhite
            height: 3px
            width: calc(100% + 9px)
            position: absolute

            &--left
                left: 1px
                transform: rotate(45deg)
                transform-origin: top left
                transition-delay: 0s

            &--right
                right: 1px
                transform: rotate(-45deg)
                transform-origin: top right
                transition-delay: 0s

.phone
    &-number
        font-size: 30px
        letter-spacing: .8px
        line-height: 30px
        font-weight: 700
        color: $cRed
        transition: color .2s ease-out

        &:hover
            text-decoration: none
            color: darken($cRed, 10%)

    &-icon
        font-size: 24px
        cursor: pointer
        margin-top: 9px
        height: 17px
        line-height: 17px

.mail
    letter-spacing: .8px
    font-size: 20px

    a
        color: $cRed
        text-decoration: none

        &:hover
            text-decoration: underline

.logo
    width: 130px
    // margin-top: 64px

    &__fixed
        display: none
        width: 41px
        margin: 0 auto

.separate
    background: #34332f
    width: 1px
    height: 11px
    margin: 12px 40px 0

.search
    cursor: pointer
    transition: .2s ease-out
    height: 16px
    line-height: 16px
    margin-top: 8px

    &:hover
        color: $cRedDark



.no-home
    .main-header
        position: fixed
        top: 0
        width: 100%
        height: 104px
        background: #161719
        z-index: 200

        &._show
            top: 0
            transition: .2s ease-out

        .logo
            margin-top: 8px
            width: 130px

            &__top
                display: block
                width: 130px

            &__fixed
                display: none

        .main-header
            &__left-side
                margin-top: 20px

        .menu__btn
            top: 40px

        .separate
            margin-top: 28px

        .phone
            margin-top: 34px

            &-icon
                margin-top: 24px

        .search
            margin-top: 23px

        .mail
            margin-top: 13px




+max-screen(1030px)
    .main-header
        padding-left: 30px
        
        &__right-side
            width: 145px
            

+max-screen(992px)
    .main-header
        padding-left: 40px

        &._fixed
            .phone
                &::before
                    top: 24px

        &__search
            .container
                max-width: 100%
        
        .phone
            position: relative
            
            //&::before
                content: ""
                background: #34332f
                width: 1px
                height: 11px
                position: absolute
                top: 11px
                left: 45px

            &-number
                display: none
                
            &-icon
                margin-right: 66px
                position: relative

                //&::before
                    content: ""
                    background: #34332f
                    width: 1px
                    height: 11px
                    position: absolute
                    top: 2px
                    left: 45px
                
        .mail
            //display: none
            
        .separate
            position: relative
            margin: 12px 0 0
            left: -31px
            
    .logo
        width: 130px
        margin-right: 60px

    .no-home
        .main-header
            .separate
                position: relative
                margin: 27px 0 0
                left: -31px


+max-screen(767px)
    .main-header
        padding-left: 30px

        &._fixed
            height: 60px

            .main-header
                &__left-side
                    margin-top: 0

            .phone
                &-icon
                    margin-top: 22px

            .search
                margin-top: 22px

            .logo
                margin-top: 14px

                &__top
                    width: 80px

            .menu__btn
                top: 19px

            .mail
                margin-top: 13px

        &__left-side
            margin-top: 30px

        &__right-side
            width: 65px

        .phone
            &::before
                left: 28px

            &-icon
                margin-right: 31px
                font-size: 20px

        .separate
            left: -15px

        &__search
            .container
                padding: 0 20px

            &__left-side
                width: 100%

            &__right-side
                width: 0
                position: relative

            &__input
                padding: 0 30px 0 20px

            &__close
                position: absolute
                top: -81px
                right: 0

            &__icon
                display: none

            &__btn
                right: 12px

    .mail
        font-size: 19px

    .logo
        width: 89px
        margin-right: 30px

        &__fixed
            width: 30px

    .no-home
        .main-header
            .logo
                width: 80px
                margin-top: 16px

            .separate
                left: -15px