.main-slider
    height: 1080px
    width: 100%
    position: relative
    margin-bottom: 150px

    .wave-bg
        background: url('../img/backgrounds/wave-bg-main-slider.png') no-repeat
        width: 950px
        height: 1517px
        left: 0
        top: 130px
        
    &__wrap
        display: flex
        width: 100%
        height: 100%
        position: relative

    &__item
        position: relative
        min-height: 1080px
        display: flex
        transition: .2s ease-out
        width: 177px
        cursor: pointer

        &:not(._active)
            &:hover
                .main-slider__item
                    &__number-no-active span
                        opacity: 1

                    &__see
                        opacity: 1
                        
        &:first-child
            &._active
                padding-left: 60px

        &._active
            align-items: center
            width: 100%
            cursor: initial

            .main-slider__item
                &__content
                    align-items: flex-start
                    padding-top: 0
                    justify-content: center

                &__number-no-active
                    opacity: 0
                    visibility: hidden
                    position: absolute

                &__number
                    opacity: 1
                    visibility: visible
                    transform: translateY(0)
                    transition-delay: .2s
                    position: static

                &__title
                    opacity: 0
                    visibility: hidden

                &__title-big
                    transform: translateY(0)
                    opacity: 1
                    visibility: visible
                    transition: .2s ease-out
                    transition-delay: .35s

                &__sub-title
                    visibility: visible
                    opacity: 1
                    transform: translateY(0)
                    transition: .2s ease-out
                    transition-delay: .50s

                &__text
                    visibility: visible
                    opacity: 1
                    transform: translateY(0)
                    transition: .2s ease-out
                    transition-delay: .65s
                    height: auto

                &__btn
                    opacity: 1
                    visibility: visible
                    transform: translateY(0)
                    transition: .2s ease-out
                    transition-delay: .75s

                &__see
                    opacity: 0
                    visibility: hidden

        &__video-bg
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%

        &__bg
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            opacity: .3

        &__content
            position: relative
            z-index: 5
            display: flex
            flex-direction: column
            align-items: center
            max-width: 980px
            width: 100%
            height: 100%
            margin: 0 auto
            padding: 160px 30px 0
            transition: .2s ease-out

        &__number-no-active
            font-family: $fPN
            font-size: 45px
            font-weight: 300
            position: relative
            color: $cWhite
            transition: .2s ease-out
            margin-bottom: 46px

            &::after
                content: ""
                background: $cWhite
                position: absolute
                width: 43px
                height: 3px
                bottom: 1px
                left: 50%
                margin-left: -22px
                opacity: .2

            span
                transition: .2s ease-out
                opacity: .2

        &__number
            font-family: $fPN
            font-size: 45px
            font-weight: 300
            color: $cWhite
            transition: .2s ease-out
            margin-bottom: 26px
            opacity: 0
            transform: translateY(20px)
            visibility: hidden
            position: absolute

            &::after
                content: ""
                background: $cWhite
                position: absolute
                width: 43px
                height: 3px
                bottom: 1px
                left: 50%
                margin-left: -22px
                opacity: .2

            span
                //transition: .2s ease-out
                //opacity: .2

        &__title
            font-family: $fPN
            font-weight: 700
            text-transform: uppercase
            transform-origin: top left
            transform: rotate(90deg) translateY(-100%)
            transition: .2s ease-out
            letter-spacing: 1.28px
            width: 28px
            position: relative
            opacity: 1
            visibility: visible

        &__title-big
            font-family: $fPN
            font-weight: 700
            text-transform: uppercase
            transform-origin: top left
            transform: translateY(20px)
            //transition: .2s ease-out
            opacity: 0
            visibility: hidden
            margin-bottom: 16px
            position: relative
            line-height: .88
            letter-spacing: 6.4px
            left: -5px
            font-size: 80px
            transition-delay: 0s

        &__sub-title
            font-family: $fPN
            font-size: 30px
            text-transform: uppercase
            letter-spacing: 2.4px
            color: $cWhite
            transform: translateY(20px)
            //transition: .2s ease-out
            opacity: 0
            visibility: hidden
            margin-bottom: 40px
            transition-delay: 0s

        &__text
            color: $cWhite
            transform: translateY(20px)
            opacity: 0
            visibility: hidden
            //transition: .2s ease-out
            max-width: 666px
            line-height: 1.5
            margin-bottom: 100px
            transition-delay: 0s
            height: 0
            overflow: hidden

            big
                font-size: 20px

        &__btn
            transform: translateY(20px)
            opacity: 0
            visibility: hidden
            transition-delay: 0s

        &__see
            visibility: visible
            opacity: .4
            transition: .2s ease-out
            color: $cWhite
            font-size: 14px
            letter-spacing: .56px
            height: 30px
            position: absolute
            bottom: 200px
            left: 50%
            margin-left: -20px

            span
                display: block
                transform-origin: bottom left
                transform: rotate(90deg)
                margin-bottom: 115px
                margin-left: 4px

            .fa
                font-size: 30px
                

+max-screen(1200px)
    .main-slider
        &__item
            &__title-big
                font-size: 60px
                
            &__sub-title
                font-size: 18px
                
            &__text
                font-size: 18px 
                

+max-screen(992px)
    .main-slider
        &__item
            width: 94px

            &__title-big
                font-size: 40px


+max-screen(767px)
    .main-slider
        min-height: 0
        height: auto
        margin-bottom: 60px

        &__item
            display: none
            min-height: 0
            padding-top: 90px
            padding-bottom: 40px

            &._active
                display: flex

                &:first-child
                    padding-left: 0

            &__bg
                background-size: cover !important

            &__number
                font-size: 30px
                margin-bottom: 0

                &::after
                    width: 25px
                    margin-left: -12px

            &__title-big
                font-size: 20px
                left: 0

            &__sub-title
                line-height: 20px

            &__text
                font-size: 14px
                margin-bottom: 40px

                big
                    font-size: 14px