.services
    background: $cDark url('../img/backgrounds/services-bg.jpg') no-repeat center center

    &__item
        margin: 120px 0
        height: 545px

        &--imgs-left
            .services
                &__item
                    &__left-side
                        width: 600px
                        position: relative
                        height: 100%

                        &.services__documents__img-wrap
                            width: 660px
                            height: 634px

                    &__right-side
                        display: flex
                        flex-direction: column
                        justify-content: space-between
                        width: calc(100% - 680px)
                        height: calc(100% - 70px)
                        
                    &__img
                        right: 0
                        left: auto
                        
                    &__btns
                        right: 0
                        
                    &__numbers
                        right: 39px

                &__documents
                    &__img
                        left: 0

        &--imgs-right
            .services
                &__item
                    &__right-side
                        width: 600px
                        position: relative
                        height: 100%

                        &.services__documents__img-wrap
                            width: 660px
                            height: 634px

                    &__left-side
                        display: flex
                        flex-direction: column
                        justify-content: space-between
                        width: calc(100% - 600px)
                        height: calc(100% - 70px)
                        
                    &__btns
                        left: 0
                        
                    &__numbers
                        left: 39px

                &__documents
                    &__img
                        right: 0

        &--additionally
            .services
                &__item
                    &__wrap
                        height: 500px
                        align-items: stretch

                    &__left-side
                        width: 580px

                    &__right-side
                        width: 425px

                    &__center
                        height: auto

        &__wrap
            display: flex
            align-items: flex-start
            height: 100%
            justify-content: space-between

        &__img
            position: absolute
            top: 0
            border-radius: 6px
            overflow: hidden
            box-shadow: 6px 12px 40px rgba(1, 1, 1, 0.3)
            max-width: 320px
            height: 475px
            background: $cDark
            transition: .2s ease-out
            
            &:hover
                box-shadow: 6px 12px 48px rgba(1, 1, 1, 0.7)
                cursor: pointer

            &._active
                &:hover
                    cursor: initial
                    box-shadow: 6px 12px 40px rgba(1, 1, 1, 0.3)

                img
                    opacity: 1

                .services
                    &__item
                        &__img
                            &-more-read
                                transform: translateY(0)

                    &__documents
                        &__img-more-read
                            transform: translateY(0)

            &._open-popup
                .services
                    &__documents
                        &__img-more-read
                            transform: translateY(100%)

                    &__item
                        &__img-more-read
                            transform: translateY(100%)

                        &__popup
                            top: 0

                            &-wrap
                                box-shadow: 6px 12px 40px rgba(1, 1, 1, 0.54)
                                
            &-wrap
                width: 100%
                height: 100%
                position: relative

            &-more-read
                position: absolute
                bottom: 0
                left: 0
                width: 100%
                padding: 22px 30px 22px 50px
                background: $cDark
                z-index: 3
                transition: .2s ease-out
                transform: translateY(100%)

            &-title
                font-family: $fPN
                font-weight: 700
                color: $cRed
                text-transform: uppercase
                letter-spacing: 1.28px
                line-height: 1.3

            &-link
                font-size: 14px
                color: $cWhite
                letter-spacing: .28px
                display: inline-block
                border-bottom: 1px solid $cWhite
                cursor: pointer
                line-height: 1.15

            img
                opacity: .4
                transition: .2s ease-out
                
        &__btns
            position: absolute
            bottom: 0
            display: flex
            font-size: 30px
            color: $cWhite
            
            &-prev,
            &-next
                transition: .2s ease-out
                cursor: pointer
                height: 30px
                line-height: 30px
                
                &:hover
                    color: $cRed
                    
            &-next
                margin-left: 120px
                
        &__numbers
            position: absolute
            bottom: 2px
            font-family: $fPN
            font-size: 30px
            font-weight: 300
            line-height: 25px
            color: $cWhite
            letter-spacing: 2.4px
            display: flex

            &-current
                color: $cRed
                margin-right: 11px

            span
                margin-left: 11px

        &__center
            display: flex
            flex-direction: column
            align-items: flex-start
            height: 100%
            justify-content: space-around
            padding-top: 35px

        &__line
            font-family: $fPN
            font-weight: 700
            line-height: 1.3
            color: $cWhite
            border-bottom: 1px solid rgba(255,255,255,.9)
            text-transform: uppercase
            cursor: pointer
            transition: .2s ease-out

            &:hover
                color: $cRed
                border-bottom-color: $cRed

            &._active
                color: $cRed
                border-bottom-color: $cRed

        &__popup
            position: absolute
            top: -100%
            left: 0
            width: 100%
            height: 100%
            padding: 20px
            transition: .2s ease-out
            z-index: 10

            &-wrap
                background: $cDark
                opacity: .95
                border-radius: 6px
                padding: 60px 40px 30px
                position: relative
                height: 100%
                transition: .2s ease-out

            &-close
                width: 23px
                height: 23px
                cursor: pointer
                position: absolute
                top: 20px
                right: 20px

                &:hover
                    span
                        &:nth-child(2)
                            background: lighten($cRed, 5%)

                            &::before,
                            &::after
                                background: $cRedDark

                        &:nth-child(1),
                        &:nth-child(3)
                            background: $cRedDark

                            &::before,
                            &::after
                                background: lighten($cRed, 5%)

                span
                    display: block
                    width: 3px
                    height: 3px
                    background: $cRed
                    position: relative
                    margin: 0 auto 7px
                    transition: .2s ease-out

                    &::before,
                    &::after
                        content: ""
                        background: $cRed
                        width: 100%
                        height: 100%
                        position: absolute
                        top: 0
                        transition: .2s ease-out

                    &::before
                        left: -10px

                    &::after
                        right: -10px

                    &:last-child
                        margin-bottom: 0

            &-cross
                position: absolute
                top: -1px
                transition: width .2s ease-out
                background: $cRed
                height: 3px
                width: calc(100% + 9px)

                &--left
                    left: 1px
                    transform: rotate(45deg)
                    transform-origin: top left
                    transition-delay: 0s

                &--right
                    right: 1px
                    transform: rotate(-45deg)
                    transform-origin: top right
                    transition-delay: 0s

            &-title
                font-family: $fPN
                font-weight: 700
                text-transform: uppercase
                color: #f6654c
                letter-spacing: 1.28px
                line-height: 1.3

            &-text
                font-size: 13px
                letter-spacing: .26px
                color: $cWhite
                line-height: 1.35

        &__number
            font-family: $fPN
            font-size: 45px
            font-weight: 300
            line-height: 36px
            letter-spacing: 1.8px
            position: relative
            color: $cWhite
            margin-bottom: 28px

            &::after
                content: ""
                background: $cWhite
                position: absolute
                height: 3px
                width: 43px
                bottom: -17px
                left: 0
                opacity: .2

        &__title
            font-family: $fPN
            font-size: 30px
            font-weight: 300
            color: $cWhite
            line-height: 1.35
            letter-spacing: 1.2px
            text-transform: uppercase

        &__text
            color: $cWhite
            line-height: 30px
            letter-spacing: .8px
            font-size: 20px

            &--mob
                display: none

            p
                margin-top: 0

            span
                color: $cRed

        &__btn-mob
            display: none

    &__documents
        height: auto
        
        .services__item__wrap
            align-items: stretch
            
        &.services__item--imgs-left
            .services__item__right-side
                height: auto
                
        &.services__item--imgs-right
            .services__item__left-side
                height: auto

        &__img
            position: absolute
            top: 0
            border-radius: 6px
            overflow: hidden
            box-shadow: 6px 12px 40px rgba(1, 1, 1, 0.3)
            max-width: 442px
            height: 634px
            background: $cDark
            transition: .2s ease-out
            
            &:hover
                box-shadow: 6px 12px 40px rgba(1, 1, 1, 0.7)
                cursor: pointer

            &._active
                &:hover
                    cursor: initial
                    box-shadow: 6px 12px 40px rgba(1, 1, 1, 0.3)

                img
                    opacity: 1

                .services__documents
                    &__img-more-read
                        transform: translateY(0)

            &._open-popup
                .services
                    &__documents
                        &__img-more-read
                            transform: translateY(100%)

                    &__item
                        &__popup
                            top: 0

            img
                opacity: .6
                transition: .2s ease-out
                display: block

            &-wrap
                height: 634px
                width: 660px

            &-more-read
                position: absolute
                bottom: 0
                left: 0
                width: 100%
                padding: 22px 30px 22px 100px
                background: $cDark
                z-index: 3
                transition: .2s ease-out
                transform: translateY(100%)

            &-title
                font-family: $fPN
                font-weight: 700
                color: $cRed
                text-transform: uppercase
                letter-spacing: 1.28px
                line-height: 1.3

            &-link
                font-size: 14px
                color: $cWhite
                letter-spacing: .28px
                display: inline-block
                border-bottom: 1px solid $cWhite
                cursor: pointer
                line-height: 1.15

            .services__item__popup-wrap
                padding: 60px

        &__flex
            display: flex
            flex-direction: column
            justify-content: space-between
            width: calc(100% - 660px)

        &__center
            display: flex
            flex-direction: column
            align-items: flex-start
            padding-left: 21px
            padding-bottom: 60px

        &__item
            font-family: $fPN
            text-transform: uppercase
            letter-spacing: 1.28px
            color: $cWhite
            position: relative
            border-bottom: 1px solid rgba(255,255,255,.7)
            cursor: pointer
            line-height: 20px
            font-weight: 700
            margin: 30px 0
            transition: .2s ease-out

            &:hover
                color: $cRed
                border-color: $cRed

            &::before
                content: ""
                background: $cRed
                position: absolute
                top: 5px
                width: 11px
                height: 11px
                border-radius: 50%
                transition: .2s ease-out
                left: -32px

            &._active
                color: $cRed
                border-color: $cRed

                &::before
                    box-shadow: 0 2px 20px 7px rgba(242, 91, 65, 0.58)

                &:nth-child(1)
                    .services__documents__lines
                        height: 294px

                &:nth-child(2)
                    .services__documents__lines
                        height: 378px

                &:nth-child(3)
                    .services__documents__lines
                        height: 459px

                .services__documents
                    &__lines
                        transition-delay: .8s

                        &-item
                            &:nth-child(1)
                                width: 61px

                            &:nth-child(3)
                                width: 170px
                                transition-delay: 1s

                        &-round
                            opacity: 1
                            visibility: visible
                            transition-delay: 1.2s

        &__lines
            position: absolute
            bottom: 9px
            width: 235px
            height: 0
            right: calc(100% + 26px)
            transition: height .2s ease-out .4s
            cursor: initial

            &-item
                position: absolute

                &:nth-child(1)
                    border-bottom: 1px dashed $cRed
                    width: 0
                    transition: .2s ease-out .6s
                    right: 0
                    bottom: 0

                &:nth-child(2)
                    border-right: 1px dashed $cRed
                    height: 100%
                    transition: .2s ease-out
                    right: 61px
                    bottom: 0

                &:nth-child(3)
                    border-bottom: 1px dashed $cRed
                    transition: .2s ease-out .2s
                    right: 61px
                    top: 0
                    width: 0

            &-round
                position: absolute
                top: -25px
                left: -25px
                width: 53px
                height: 53px
                z-index: 10
                opacity: 0
                visibility: hidden
                transition: .2s ease-out

                &::before
                    content: ""
                    background: $cRed
                    position: absolute
                    top: 0
                    left: 0
                    width: 100%
                    height: 100%
                    opacity: .15
                    border-radius: 50%

                &::after
                    content: ""
                    background: $cRed
                    position: absolute
                    top: 6px
                    left: 6px
                    width: calc(100% - 12px)
                    height: calc(100% - 12px)
                    opacity: .2
                    border-radius: 50%

                &-inner
                    position: absolute
                    width: 27px
                    height: 27px
                    top: 13px
                    left: 13px

                    &::before
                        content: ""
                        position: absolute
                        top: 0
                        left: 0
                        width: calc(100% - 10px)
                        height: calc(100% - 10px)
                        border: 5px solid $cRed
                        border-radius: 50%

                    &::after
                        content: ""
                        background: $cRed
                        top: 8px
                        left: 8px
                        width: calc(100% - 16px)
                        height: calc(100% - 16px)
                        position: absolute
                        border-radius: 50%

        .services__item
            &__popup
                padding: 40px

            &__title
                padding-right: 110px

    &__list
        &__item
            border-bottom: 1px solid rgba(255,255,255,.1)
            height: 100px
            display: flex
            align-items: center

            &:last-child
                border-bottom: none

        &__icon
            width: 58px
            text-align: center
            margin-right: 44px

        &__text
            font-family: $fPN
            text-transform: uppercase
            font-weight: 700
            color: $cWhite
            letter-spacing: 1.28px
            

+max-screen(1180px)
    .services
        &__item
            &--imgs-left
                .services__item
                    &__left-side
                        &.services__documents__img-wrap
                            width: 580px
                            
        &__documents
            &__img
                max-width: 400px
                height: 574px
                
                .services__item__popup-wrap
                    padding: 60px 40px
                    
            &.services__item--imgs-left
                .services__item__right-side
                    width: calc(100% - 600px)
                    padding-left: 0
                    
            &__item
                &._active
                    .services__documents__lines-item
                        &:nth-child(3)
                            width: 135px
                    
            &__lines
                width: 197px

            .default-btn
                min-width: 320px

+max-screen(1140px)
    .services
        &__item
            &--imgs-left
                .services__item
                    &__right-side
                        padding-left: 20px
                        
            &--imgs-right
                .services__item
                    &__left-side
                        padding-right: 20px

            &--additionally
                .services__item__left-side
                    width: 440px
                    
            &__title
                font-size: 26px


+max-screen(992px)
    .services
        &__item
            &--imgs-left
                .services__item
                    &__left-side
                        width: 380px

                        &.services__documents__img-wrap
                            width: 350px
                            height: 560px !important

                    &__right-side
                        width: calc(100% - 380px)

            &--imgs-right
                .services__item
                    &__right-side
                        width: 380px

                    &__left-side
                        width: calc(100% - 380px)

            &__popup
                padding: 20px

                &-wrap
                    padding: 60px 20px 20px
                    overflow-y: auto

            &__title
                font-size: 18px

            &__btn-mob
                display: block
                margin-top: 60px

                .default-btn
                    margin: 0 auto

            &__line
                font-size: 14px
                border-bottom: none
                text-decoration: underline

            &--additionally
                .services__item
                    &__left-side
                        width: 300px

                    &__right-side
                        width: 200px

        &__documents
            &__img
                max-width: 280px
                height: auto

                &-more-read
                    padding: 22px 30px 22px 40px

            &.services__item--imgs-left
                .services__item__right-side
                    width: calc(100% - 360px)

            .services__item__popup
                padding: 15px

                &-wrap
                    padding: 60px 20px 20px
                    overflow-y: auto

            &__item
                font-size: 14px
                white-space: nowrap

                &._active
                    &:nth-child(1)
                        .services__documents__lines
                            height: 160px

                    &:nth-child(2)
                        .services__documents__lines
                            height: 240px

                    &:nth-child(3)
                        .services__documents__lines
                            height: 320px

                    .services__documents__lines-item
                            &:nth-child(1)
                                width: 30px

                            &:nth-child(3)
                                width: 65px

            &__lines
                width: 95px

                &-item
                    &:nth-child(2)
                        right: 30px

                    &:nth-child(3)
                        right: 30px

            &__bottom
                .default-btn
                    display: none


+max-screen(767px)
    .services
        &__item
            margin: 60px 0
            position: relative
            height: auto

            &--imgs-left
                .services
                    &__item
                        &__wrap
                            flex-direction: column-reverse

                        &__left-side
                            height: 535px

                            &.services__documents__img-wrap
                                height: 355px !important

                        &__right-side
                            padding-left: 0
                            margin-bottom: 35px
                            display: block
                            height: auto

            &--imgs-right
                .services
                    &__item
                        &__wrap
                            flex-direction: column

                        &__left-side
                            padding-right: 0
                            margin-bottom: 35px
                            display: block
                            height: auto

                        &__right-side
                            height: 535px

            &__wrap
                justify-content: flex-start

            &__left-side
                width: 100% !important

            &__right-side
                width: 100% !important

            &__img
                transform: none !important
                box-shadow: none

                &._active
                    box-shadow: 6px 12px 40px rgba(1,1,1,.3)

                &-wrap
                    height: 475px

            &__center
                display: none

            &__btns
                width: 100%
                justify-content: space-between
                z-index: 5

            &__numbers
                width: 100%
                left: 0 !important
                right: auto !important
                justify-content: center

            &__text
                font-size: 14px
                line-height: 20px

                &--mob
                    display: block

            &--additionally
                .services__item__wrap
                    height: auto

        &__documents
            &__img
                transform: none !important
                box-shadow: none

                &._active
                    box-shadow: 6px 12px 40px rgba(1,1,1,.3)

            &__center
                padding-bottom: 0
                margin-top: 20px

            &__lines
                display: none

            &__item
                margin: 15px 0

            .default-btn
                min-width: 246px

        &__list
            &__icon
                margin-right: 24px

            &__text
                width: calc(100% - 58px)
                font-size: 14px