.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.icon-help-ico-2 {
    font-size:(446/10)*1rem;
    width:(526/446)*1em;
}
.icon-help-ico-3 {
    font-size:(434/10)*1rem;
    width:(406/434)*1em;
}
.icon-help-ico-4 {
    font-size:(494/10)*1rem;
    width:(546/494)*1em;
}
.icon-help-ico-5 {
    font-size:(318/10)*1rem;
    width:(318/318)*1em;
}
