.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.icon-arrow-slider-left {
    // font-size:(29/10)*1rem;
    width:(19/29)*1em;
}
.icon-arrow-slider-right {
    // font-size:(29/10)*1rem;
    width:(19/29)*1em;
}
.icon-btn-arrow {
    // font-size:(20/10)*1rem;
    width:(11/20)*1em;
}
